Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

Update LoveDA
  torchgeo/datamodules/loveda.py
Labels: datamodules

Update NAIP
  torchgeo/datamodules/naip.py
Labels: datamodules

Update RESISC45
  torchgeo/datamodules/resisc45.py
Labels: datamodules

Update SpaceNet
  torchgeo/datamodules/spacenet.py
Labels: datamodules

Update So2Sat
  torchgeo/datamodules/so2sat.py
Labels: datamodules

Update UCMerced
  torchgeo/datamodules/ucmerced.py
Labels: datamodules

Update SEN12MS
  torchgeo/datamodules/sen12ms.py
Labels: datamodules

Update NASA
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
Labels: datamodules

Update OSCD
  torchgeo/datamodules/oscd.py
Labels: datamodules

Update USAVars
  torchgeo/datamodules/usavars.py
Labels: datamodules

OSCD hacks
  conf/oscd.yaml
  tests/datamodules/test_oscd.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/sen12ms.py
Labels: datamodules, testing

mypy fixes
  torchgeo/datamodules/sen12ms.py
Labels: datamodules

Update xview
  torchgeo/datamodules/xview.py
Labels: datamodules

Remove seed
  conf/nasa_marine_debris.yaml
  conf/sen12ms.yaml
  conf/spacenet1.yaml
  tests/conf/sen12ms_all.yaml
  tests/conf/sen12ms_s1.yaml
  tests/conf/sen12ms_s2_all.yaml
  tests/conf/sen12ms_s2_reduced.yaml
  torchgeo/datamodules/sen12ms.py
Labels: datamodules, testing

Add NonGeoDataModule base class
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/etci2021.py
  torchgeo/datamodules/eurosat.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/gid15.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/sen12ms.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datamodules/usavars.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datamodules/xview.py
Labels: datamodules

Fix Normalize
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datamodules/usavars.py
  torchgeo/datamodules/xview.py
  torchgeo/datasets/geo.py
Labels: datamodules, datasets

Fixes
  tests/datamodules/test_oscd.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/geo.py
Labels: datamodules, testing

mypy fixes
  tests/datamodules/test_oscd.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/oscd.py
Labels: datamodules, testing

Fix bigearthnet
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datasets/bigearthnet.py
Labels: datamodules, datasets

Syntax error
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/usavars.py
  torchgeo/datamodules/xview.py
Labels: datamodules

Fix several tests
  tests/trainers/test_classification.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/resisc45.py
Labels: datamodules, testing

Add base class to docs
  docs/api/datamodules.rst
Labels: documentation

Get regression datasets working
  torchgeo/datasets/cowc.py
  torchgeo/datasets/cyclone.py
Labels: datasets

Fix detection tests
  tests/trainers/test_detection.py
  torchgeo/datasets/nasa_marine_debris.py
Labels: datasets, testing

Fix some chesapeake bugs
  conf/chesapeake_cvpr.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  torchgeo/datamodules/chesapeake.py
  torchgeo/datasets/geo.py
Labels: datamodules, datasets, testing

Fix several segmentation issues
  conf/inria.yaml
  tests/conf/inria.yaml
  tests/conf/inria_train.yaml
  tests/conf/inria_val.yaml
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datasets/inria.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/loveda.py
  torchgeo/datasets/spacenet.py
Labels: datamodules, datasets, testing

Consistent kornia import
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/etci2021.py
  torchgeo/datamodules/eurosat.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/gid15.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datamodules/usavars.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datamodules/xview.py
Labels: datamodules

Fix dtype
  torchgeo/datasets/so2sat.py
Labels: datasets

isort fixes
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_segmentation.py
Labels: testing

Undo breaking change
  torchgeo/datasets/geo.py
Labels: datasets

Remove more code duplication, standardize docstrings
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/etci2021.py
  torchgeo/datamodules/eurosat.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/gid15.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/sen12ms.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datamodules/usavars.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datamodules/xview.py
Labels: datamodules

mypy fixes
  tests/datamodules/test_fair1m.py
  tests/datamodules/test_oscd.py
  tests/datamodules/test_usavars.py
  tests/datamodules/test_xview2.py
Labels: testing

Augmentations can be any callable
  torchgeo/datamodules/geo.py
Labels: datamodules

Add default augmentation
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/etci2021.py
  torchgeo/datamodules/eurosat.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/gid15.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datamodules/usavars.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datamodules/xview.py
Labels: datamodules

Fix more datamodules
  tests/datamodules/test_chesapeake.py
  tests/datamodules/test_oscd.py
  tests/datamodules/test_usavars.py
  tests/datamodules/test_xview2.py
Labels: testing

Fix datasets tests
  tests/datasets/test_bigearthnet.py
  tests/datasets/test_cyclone.py
  torchgeo/datasets/nasa_marine_debris.py
Labels: datasets, testing

Fix datamodule tests
  tests/datamodules/test_oscd.py
  tests/datamodules/test_xview2.py
  tests/datasets/test_oscd.py
  torchgeo/datamodules/oscd.py
  torchgeo/datasets/oscd.py
Labels: datamodules, datasets, testing

Typo fix
  tests/datamodules/test_usavars.py
Labels: testing

Set up val_dataset even when fit
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/gid15.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/sen12ms.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datamodules/xview.py
Labels: datamodules

Fix classification tests
  conf/so2sat.yaml
  tests/conf/so2sat_all.yaml
  tests/conf/so2sat_s1.yaml
  tests/conf/so2sat_s2.yaml
  tests/trainers/test_classification.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/so2sat.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: datamodules, trainers, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"
