Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, dependencies, documentation, scripts, testing

ruff
  torchgeo/models/resnet.py
Labels: models

h5py datamodule
  tests/datamodules/test_digital_typhoon.py
Labels: testing

already downloaded
  tests/datasets/test_geonrw.py
Labels: testing

typo
  tests/datasets/test_digital_typhoon.py
Labels: testing

tests
  tests/trainers/test_regression.py
Labels: testing

coverage
  tests/datasets/test_geonrw.py
Labels: testing

Add all SatlasPretrain models
  docs/api/landsat_pretrained_weights.csv
  docs/api/models.rst
  docs/api/naip_pretrained_weights.csv
  docs/api/sentinel1_pretrained_weights.csv
  docs/api/sentinel2_pretrained_weights.csv
  hubconf.py
  tests/models/test_resnet.py
  tests/models/test_swin.py
  torchgeo/models/__init__.py
  torchgeo/models/api.py
  torchgeo/models/resnet.py
  torchgeo/models/swin.py
  torchgeo/transforms/transforms.py
Labels: models, transforms, documentation, testing

Get local tests passing
  tests/models/test_api.py
  tests/models/test_resnet.py
  torchgeo/models/resnet.py
  torchgeo/models/swin.py
Labels: models, testing

Get local tests passing
  torchgeo/models/api.py
Labels: models

Fix remote tests
  torchgeo/models/swin.py
Labels: models

Mock input channels in testing too
  tests/models/test_swin.py
Labels: testing

review
  docs/api/non_geo_datasets.csv
  tests/data/digital_typhoon/data.py
  tests/datasets/test_digital_typhoon.py
  torchgeo/datamodules/digital_typhoon.py
  torchgeo/datasets/digital_typhoon.py
Labels: datamodules, datasets, documentation, testing

review
  docs/api/non_geo_datasets.csv
  tests/datasets/test_geonrw.py
  torchgeo/datasets/geonrw.py
Labels: datasets, documentation, testing

mypy: even more strict
  pyproject.toml
Labels: dependencies

dict is discouraged for arguments
  torchgeo/datasets/utils.py
Labels: datasets

Don't use Any in sample/batch utils
  torchgeo/datasets/utils.py
Labels: datasets

Fix transforms
  torchgeo/transforms/transforms.py
Labels: transforms

mypy
  torchgeo/datasets/geonrw.py
Labels: datasets

docs
  torchgeo/datasets/geonrw.py
Labels: datasets

docs
  torchgeo/datasets/geonrw.py
Labels: datasets

pass tests
  tests/data/digital_typhoon/WP.tar.gz
  tests/data/digital_typhoon/WP.tar.gzaa
  tests/data/digital_typhoon/WP.tar.gzab
  tests/data/digital_typhoon/WP/aux_data.csv
  tests/data/digital_typhoon/WP/image/0/0.h5
  tests/data/digital_typhoon/WP/image/0/1.h5
  tests/data/digital_typhoon/WP/image/0/2.h5
  tests/data/digital_typhoon/WP/image/0/3.h5
  tests/data/digital_typhoon/WP/image/0/4.h5
  tests/data/digital_typhoon/WP/image/1/0.h5
  tests/data/digital_typhoon/WP/image/1/1.h5
  tests/data/digital_typhoon/WP/image/1/2.h5
  tests/data/digital_typhoon/WP/image/1/3.h5
  tests/data/digital_typhoon/WP/image/1/4.h5
  tests/data/digital_typhoon/WP/image/2/0.h5
  tests/data/digital_typhoon/WP/image/2/1.h5
  tests/data/digital_typhoon/WP/image/2/2.h5
  tests/data/digital_typhoon/WP/image/2/3.h5
  tests/data/digital_typhoon/WP/image/2/4.h5
  tests/data/digital_typhoon/WP/image/3/0.h5
  tests/data/digital_typhoon/WP/image/3/1.h5
  tests/data/digital_typhoon/WP/image/3/2.h5
  tests/data/digital_typhoon/WP/image/3/3.h5
  tests/data/digital_typhoon/WP/image/3/4.h5
  tests/data/digital_typhoon/WP/image/4/0.h5
  tests/data/digital_typhoon/WP/image/4/1.h5
  tests/data/digital_typhoon/WP/image/4/2.h5
  tests/data/digital_typhoon/WP/image/4/3.h5
  tests/data/digital_typhoon/WP/image/4/4.h5
  tests/data/digital_typhoon/WP/metadata/0.csv
  tests/data/digital_typhoon/WP/metadata/1.csv
  tests/data/digital_typhoon/WP/metadata/2.csv
  tests/data/digital_typhoon/WP/metadata/3.csv
  tests/data/digital_typhoon/WP/metadata/4.csv
  tests/data/digital_typhoon/data.py
  tests/datasets/test_digital_typhoon.py
Labels: testing

Revert "Don't use Any in sample/batch utils"
  torchgeo/datasets/utils.py
Labels: datasets

Fix remaining bugs
  torchgeo/datasets/utils.py
  torchgeo/transforms/transforms.py
Labels: datasets, transforms

Samplers: avoid computing intersection multiple times
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
Labels: samplers

Ruff
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
Labels: samplers

suggestion
  torchgeo/datasets/geonrw.py
Labels: datasets

Fix wrong import from shapely
  torchgeo/datasets/geo.py
Labels: datasets

Fix license
  docs/api/landsat_pretrained_weights.csv
  docs/api/naip_pretrained_weights.csv
  docs/api/sentinel1_pretrained_weights.csv
  docs/api/sentinel2_pretrained_weights.csv
Labels: documentation

Fix band order
  torchgeo/models/resnet.py
  torchgeo/models/swin.py
Labels: models

Ensure never outside of bounds
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
Labels: samplers

Remove workarounds and comments for outdated bugs
  requirements/min-cons.old
  tests/conf/seco_byol_1.yaml
  tests/conf/seco_byol_2.yaml
  tests/conf/seco_moco_1.yaml
  tests/conf/seco_moco_2.yaml
  tests/conf/seco_simclr_1.yaml
  tests/conf/seco_simclr_2.yaml
  torchgeo/datamodules/so2sat.py
  torchgeo/datasets/utils.py
Labels: datamodules, datasets, dependencies, testing

Undo one change
  torchgeo/datamodules/so2sat.py
Labels: datamodules

Remove min-cons.old entirely
  .github/workflows/tests.yaml
  requirements/min-cons.old
Labels: dependencies, testing

Rename tests_xview2 to tests_xview
  tests/datamodules/test_xview.py
Labels: testing

Rename tests_xview2 to tests_xview (#2247)
  tests/datamodules/test_xview.py
Labels: testing

Remove workarounds and comments for outdated bugs (#2244)
  .github/workflows/tests.yaml
  requirements/min-cons.old
  tests/conf/seco_byol_1.yaml
  tests/conf/seco_byol_2.yaml
  tests/conf/seco_moco_1.yaml
  tests/conf/seco_moco_2.yaml
  tests/conf/seco_simclr_1.yaml
  tests/conf/seco_simclr_2.yaml
  torchgeo/datasets/utils.py
Labels: datasets, dependencies, testing

mypy: even more strict (#2241)
  pyproject.toml
  torchgeo/datasets/utils.py
  torchgeo/transforms/transforms.py
Labels: datasets, transforms, dependencies

Fix docs
  docs/api/datasets.rst
Labels: documentation

More fixes
  tests/datasets/test_geo.py
  tests/datasets/test_splits.py
  tests/datasets/test_utils.py
  tests/samplers/test_batch.py
  tests/samplers/test_single.py
  torchgeo/datasets/enviroatlas.py
  torchgeo/datasets/eurocrops.py
  torchgeo/datasets/fair1m.py
  torchgeo/datasets/gid15.py
  torchgeo/datasets/skippd.py
  torchgeo/datasets/sustainbench_crop_yield.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

Bump timm too
  .github/dependabot.yml
  requirements/required.txt
Labels: dependencies

.github/labeler.yml:

# TorchGeo modules
datamodules:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/datamodules/**"
datasets:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/datasets/**"
losses:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/losses/**"
models:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/models/**"
samplers:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/samplers/**"
trainers:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/trainers/**"
transforms:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/transforms/**"

# Other
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "requirements/**"
          - ".github/dependabot.yml"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "*.md"
          - ".github/*.md"
          - ".readthedocs.yaml"
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "torchgeo/__main__.py"
          - "torchgeo/main.py"
          - "experiments/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
          - ".github/workflows/**"
