Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"

new proposal
  tests/datasets/test_geo.py
  tests/samplers/test_single.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/utils.py
  torchgeo/samplers/__init__.py
  torchgeo/samplers/single.py
Labels: datasets, samplers, testing

Fix ViT weight names in docs (#1031)
  docs/api/vit_pretrained_weights.csv
Labels: documentation

Fix ViT weight names in docs (#1031)
  docs/api/vit_pretrained_weights.csv
Labels: documentation

Name change in several other places
  README.md
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  torchgeo/datasets/vhr10.py
Labels: datasets, documentation

plot: only works during validation
  torchgeo/datamodules/geo.py
Labels: datamodules

Fix collation of NASA Marine Debris dataset
  tests/datasets/test_nasa_marine_debris.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datasets/nasa_marine_debris.py
Labels: datamodules, datasets, testing

flake8 fix
  torchgeo/datamodules/nasa_marine_debris.py
Labels: datamodules

Quick test
  requirements/required.txt
Labels: none

Revert "Quick test"
  requirements/required.txt
Labels: none

Sentinel-2: use 10,000 as scale factor (#1027)
  docs/tutorials/custom_raster_dataset.ipynb
  torchgeo/datasets/sentinel.py
Labels: datasets, documentation

Sentinel-2: use 10,000 as scale factor (#1027)
  docs/tutorials/custom_raster_dataset.ipynb
  torchgeo/datasets/sentinel.py
Labels: datasets, documentation

Add NWPU only to docstring
  docs/api/datasets.rst
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/vhr10.py
Labels: datasets, documentation

tests for ForecastDataset
  tests/data/time_series_raster/data.py
  tests/data/time_series_raster/ts_data.zip
  tests/data/time_series_raster/ts_data/test_20220101_B01.tif
  tests/data/time_series_raster/ts_data/test_20220101_B02.tif
  tests/data/time_series_raster/ts_data/test_20220101_B03.tif
  tests/data/time_series_raster/ts_data/test_20220101_B04.tif
  tests/data/time_series_raster/ts_data/test_20220101_target.tif
  tests/data/time_series_raster/ts_data/test_20220102_B01.tif
  tests/data/time_series_raster/ts_data/test_20220102_B02.tif
  tests/data/time_series_raster/ts_data/test_20220102_B03.tif
  tests/data/time_series_raster/ts_data/test_20220102_B04.tif
  tests/data/time_series_raster/ts_data/test_20220102_target.tif
  tests/data/time_series_raster/ts_data/test_20220103_B02.tif
  tests/data/time_series_raster/ts_data/test_20220103_B03.tif
  tests/data/time_series_raster/ts_data/test_20220103_B04.tif
  tests/data/time_series_raster/ts_data/test_20220103_target.tif
  tests/data/time_series_raster/ts_data/test_20220104_B02.tif
  tests/data/time_series_raster/ts_data/test_20220104_B03.tif
  tests/data/time_series_raster/ts_data/test_20220104_B04.tif
  tests/data/time_series_raster/ts_data/test_20220104_target.tif
  tests/data/time_series_raster/ts_data/test_20220105_B02.tif
  tests/data/time_series_raster/ts_data/test_20220105_B03.tif
  tests/data/time_series_raster/ts_data/test_20220105_B04.tif
  tests/data/time_series_raster/ts_data/test_20220105_target.tif
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

File rename: nwpu.py -> vhr10.py (#1030)
  README.md
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/vhr10/NWPU VHR-10 dataset.rar
  tests/data/vhr10/annotations.json
  tests/data/vhr10/data.py
  tests/datasets/test_utils.py
  tests/datasets/test_vhr10.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/vhr10.py
Labels: datasets, documentation, testing

File rename: nwpu.py -> vhr10.py (#1030)
  README.md
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/vhr10/NWPU VHR-10 dataset.rar
  tests/data/vhr10/annotations.json
  tests/data/vhr10/data.py
  tests/datasets/test_utils.py
  tests/datasets/test_vhr10.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/resisc45.py
  torchgeo/datasets/vhr10.py
Labels: datasets, documentation, testing

basic sampler tests
  tests/samplers/test_single.py
  torchgeo/samplers/single.py
Labels: samplers, testing

56 workers is a bit excessive
  conf/nasa_marine_debris.yaml
Labels: none

Address review comments
  tests/trainers/test_detection.py
  torchgeo/trainers/detection.py
Labels: trainers, testing

Added More Object Detectors (#984)
  tests/trainers/test_detection.py
  torchgeo/trainers/detection.py
Labels: trainers, testing

Added More Object Detectors (#984)
  tests/trainers/test_detection.py
  torchgeo/trainers/detection.py
Labels: trainers, testing

0.4.0 release
  torchgeo/__init__.py
Labels: none

Fix issues with missing tensorboardX dependency
  setup.cfg
Labels: none

Fix more issues with integration tests
  conf/bigearthnet.yaml
  conf/byol.yaml
  conf/chesapeake_cvpr.yaml
  conf/cowc_counting.yaml
  conf/cyclone.yaml
  conf/inria.yaml
  conf/landcoverai.yaml
  conf/nasa_marine_debris.yaml
  conf/resisc45.yaml
  conf/so2sat.yaml
  conf/spacenet1.yaml
  pyproject.toml
  tests/test_train.py
Labels: testing

one proposal for sampling time and geo dimension
  torchgeo/datasets/geo.py
  torchgeo/samplers/single.py
Labels: datasets, samplers

Add test_aug
  torchgeo/datamodules/inria.py
Labels: datamodules

Replace val_aug & test_aug with self.aug
  torchgeo/datamodules/inria.py
Labels: datamodules

fix trainers.ipynb
  docs/tutorials/trainers.ipynb
Labels: documentation

header level pretrained.ipynb
  docs/tutorials/pretrained_weights.ipynb
Labels: documentation

Fix typo in usavars.py
  torchgeo/datasets/usavars.py
Labels: datasets

Fix typo in usavars.py (#1038)
  torchgeo/datasets/usavars.py
Labels: datasets

Fix typo in usavars.py (#1038)
  torchgeo/datasets/usavars.py
Labels: datasets

Fix typo in usavars.py
  torchgeo/datasets/usavars.py
Labels: datasets

Seed arg was removed
  docs/tutorials/trainers.ipynb
Labels: documentation

pretrained, 3 channel
  docs/tutorials/trainers.ipynb
Labels: documentation

Slow means slow
  tests/test_train.py
Labels: testing

Need to actually download the dataset
  docs/tutorials/pretrained_weights.ipynb
Labels: documentation

versionchanged should be minor version only
  torchgeo/datasets/cyclone.py
Labels: datasets

Remove VisionDataset
  tests/datasets/test_geo.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

Faster train.py tests
  tests/test_train.py
Labels: testing

See what's slow
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Labels: testing
