Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"

Fix docs
  docs/api/datamodules.rst
Labels: documentation

SpaceNet1 tests
  tests/data/spacenet/sn1_AOI_1_RIO.tar.gz
  tests/datasets/test_spacenet.py
Labels: testing

Testing spacenet datamodule with trainers
  tests/conf/spacenet1.yaml
  tests/data/spacenet/data.py
  tests/data/spacenet/sn1_AOI_1_RIO.tar.gz
  tests/datasets/test_spacenet.py
  tests/trainers/test_segmentation.py
Labels: testing

no loveda
  train.py
Labels: scripts

black
  tests/data/spacenet/data.py
Labels: testing

doc fix
  torchgeo/datamodules/spacenet.py
Labels: datamodules

add input checks
  torchgeo/datasets/splits.py
Labels: datasets

fix input type
  torchgeo/datasets/splits.py
Labels: datasets

Removing direct datamodule test
  tests/datamodules/test_spacenet.py
Labels: testing

Make sure percent normalization doesn't divide by zero
  tests/data/spacenet/data.py
  tests/data/spacenet/sn1_AOI_1_RIO.tar.gz
  tests/datasets/test_spacenet.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

minor reorder
  torchgeo/datasets/splits.py
Labels: datasets

add tests
  tests/datasets/test_splits.py
  torchgeo/datasets/splits.py
Labels: datasets, testing

add non-overlapping test
  tests/datasets/test_splits.py
  torchgeo/datasets/splits.py
Labels: datasets, testing

more tests
  tests/datasets/test_splits.py
  torchgeo/datasets/splits.py
Labels: datasets, testing

fix tests
  tests/datasets/test_splits.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/splits.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

additional tests
  tests/datasets/test_geo.py
  tests/datasets/test_utils.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

check overlapping rois
  tests/datasets/test_splits.py
  torchgeo/datasets/splits.py
Labels: datasets, testing

Speed up preprocessing
  torchgeo/datamodules/spacenet.py
Labels: datamodules

Datamodule for SpaceNet1 (#965)
  conf/spacenet1.yaml
  docs/api/datamodules.rst
  tests/conf/spacenet1.yaml
  tests/data/spacenet/data.py
  tests/data/spacenet/sn1_AOI_1_RIO.tar.gz
  tests/datasets/test_spacenet.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datasets/utils.py
  train.py
Labels: datamodules, datasets, documentation, scripts, testing

Datamodule for SpaceNet1 (#965)
  conf/spacenet1.yaml
  docs/api/datamodules.rst
  tests/conf/spacenet1.yaml
  tests/data/spacenet/data.py
  tests/data/spacenet/sn1_AOI_1_RIO.tar.gz
  tests/datasets/test_spacenet.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datasets/utils.py
  train.py
Labels: datamodules, datasets, documentation, scripts, testing

SpaceNet1: add test data to git
  tests/data/spacenet/sn1_AOI_1_RIO/collection.json
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img1-labels/labels.geojson
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img1/8Band.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img1/RGB.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img2-labels/labels.geojson
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img2/8Band.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img2/RGB.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img3-labels/labels.geojson
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img3/8Band.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img3/RGB.tif
Labels: testing

pyproject.toml: silence protobuf deprecation warning
  pyproject.toml
Labels: none

SpaceNet1: add test data to git (#972)
  tests/data/spacenet/sn1_AOI_1_RIO/collection.json
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img1-labels/labels.geojson
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img1/8Band.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img1/RGB.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img2-labels/labels.geojson
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img2/8Band.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img2/RGB.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img3-labels/labels.geojson
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img3/8Band.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img3/RGB.tif
Labels: testing

SpaceNet1: add test data to git (#972)
  tests/data/spacenet/sn1_AOI_1_RIO/collection.json
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img1-labels/labels.geojson
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img1/8Band.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img1/RGB.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img2-labels/labels.geojson
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img2/8Band.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img2/RGB.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img3-labels/labels.geojson
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img3/8Band.tif
  tests/data/spacenet/sn1_AOI_1_RIO/sn1_AOI_1_RIO_img3/RGB.tif
Labels: testing

pyproject.toml: silence protobuf deprecation warning (#973)
  pyproject.toml
Labels: none

pyproject.toml: silence protobuf deprecation warning (#973)
  pyproject.toml
Labels: none

DataModules: only instantiate when download requested
  tests/conf/bigearthnet_all.yaml
  tests/conf/bigearthnet_s1.yaml
  tests/conf/bigearthnet_s2.yaml
  tests/conf/byol.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/conf/cowc_counting.yaml
  tests/conf/cyclone.yaml
  tests/conf/etci2021.yaml
  tests/conf/eurosat.yaml
  tests/conf/landcoverai.yaml
  tests/conf/naipchesapeake.yaml
  tests/conf/nasa_marine_debris.yaml
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/conf/resisc45.yaml
  tests/conf/spacenet1.yaml
  tests/conf/ucmerced.yaml
  tests/datamodules/test_loveda.py
  tests/datamodules/test_usavars.py
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/etci2021.py
  torchgeo/datamodules/eurosat.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datamodules/usavars.py
Labels: datamodules, testing

InriaAerialImageLabelingDataModule: fix predict dimensions
  tests/conf/inria_test.yaml
  tests/conf/inria_train.yaml
  tests/conf/inria_val.yaml
  tests/datamodules/test_inria.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/inria.py
Labels: datamodules, testing

Fix docs
  torchgeo/datamodules/naip.py
Labels: datamodules

Remove __module__ hacks
  tests/models/test_changestar.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/sen12ms.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/geo.py
  torchgeo/losses/__init__.py
  torchgeo/losses/qr.py
  torchgeo/models/__init__.py
  torchgeo/models/changestar.py
  torchgeo/models/farseg.py
  torchgeo/models/fcn.py
  torchgeo/models/fcsiam.py
  torchgeo/models/rcf.py
  torchgeo/samplers/__init__.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
  torchgeo/trainers/utils.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/indices.py
  torchgeo/transforms/transforms.py
Labels: datamodules, datasets, losses, models, samplers, trainers, transforms, testing

DataModules: only instantiate when download requested (#974)
  tests/conf/bigearthnet_all.yaml
  tests/conf/bigearthnet_s1.yaml
  tests/conf/bigearthnet_s2.yaml
  tests/conf/byol.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/conf/cowc_counting.yaml
  tests/conf/cyclone.yaml
  tests/conf/etci2021.yaml
  tests/conf/eurosat.yaml
  tests/conf/landcoverai.yaml
  tests/conf/naipchesapeake.yaml
  tests/conf/nasa_marine_debris.yaml
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/conf/resisc45.yaml
  tests/conf/spacenet1.yaml
  tests/conf/ucmerced.yaml
  tests/datamodules/test_loveda.py
  tests/datamodules/test_usavars.py
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/etci2021.py
  torchgeo/datamodules/eurosat.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datamodules/usavars.py
Labels: datamodules, testing

DataModules: only instantiate when download requested (#974)
  tests/conf/bigearthnet_all.yaml
  tests/conf/bigearthnet_s1.yaml
  tests/conf/bigearthnet_s2.yaml
  tests/conf/byol.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/conf/cowc_counting.yaml
  tests/conf/cyclone.yaml
  tests/conf/etci2021.yaml
  tests/conf/eurosat.yaml
  tests/conf/landcoverai.yaml
  tests/conf/naipchesapeake.yaml
  tests/conf/nasa_marine_debris.yaml
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/conf/resisc45.yaml
  tests/conf/spacenet1.yaml
  tests/conf/ucmerced.yaml
  tests/datamodules/test_loveda.py
  tests/datamodules/test_usavars.py
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/etci2021.py
  torchgeo/datamodules/eurosat.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datamodules/usavars.py
Labels: datamodules, testing

Remove unused imports
  tests/models/test_changestar.py
  torchgeo/models/rcf.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: models, trainers, testing

Fix typo in reference
  torchgeo/datasets/geo.py
Labels: datasets

Explicit link
  torchgeo/datasets/geo.py
Labels: datasets

LoveDA: fix URL formatting
  torchgeo/datasets/loveda.py
Labels: datasets

Remove tests/datamodules/test_nasa_marine_debris.py
  tests/datamodules/test_nasa_marine_debris.py
Labels: testing

OSCDDataModule: fix dimensions when val_pct == 0
  tests/conf/oscd_all.yaml
  tests/datamodules/test_oscd.py
Labels: testing

Remove __module__ hacks (#976)
  tests/models/test_changestar.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/sen12ms.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/geo.py
  torchgeo/losses/__init__.py
  torchgeo/losses/qr.py
  torchgeo/models/__init__.py
  torchgeo/models/changestar.py
  torchgeo/models/farseg.py
  torchgeo/models/fcn.py
  torchgeo/models/fcsiam.py
  torchgeo/models/rcf.py
  torchgeo/samplers/__init__.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
  torchgeo/trainers/utils.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/indices.py
  torchgeo/transforms/transforms.py
Labels: datamodules, datasets, losses, models, samplers, trainers, transforms, testing

Remove __module__ hacks (#976)
  tests/models/test_changestar.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datamodules/loveda.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/resisc45.py
  torchgeo/datamodules/sen12ms.py
  torchgeo/datamodules/so2sat.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/ucmerced.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/geo.py
  torchgeo/losses/__init__.py
  torchgeo/losses/qr.py
  torchgeo/models/__init__.py
  torchgeo/models/changestar.py
  torchgeo/models/farseg.py
  torchgeo/models/fcn.py
  torchgeo/models/fcsiam.py
  torchgeo/models/rcf.py
  torchgeo/samplers/__init__.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
  torchgeo/trainers/__init__.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
  torchgeo/trainers/utils.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/indices.py
  torchgeo/transforms/transforms.py
Labels: datamodules, datasets, losses, models, samplers, trainers, transforms, testing
