Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

scipy 1.2.0
  environment.yml
  requirements/min.old
  setup.cfg
Labels: none

scipy 1.4.0
  requirements/min.old
  setup.cfg
Labels: none

scipy 1.5.0
  requirements/min.old
Labels: none

scipy 1.4.2
  requirements/min.old
  tests/datasets/test_nwpu.py
  torchgeo/datasets/nwpu.py
Labels: datasets, testing

scipy 1.6.0
  requirements/min.old
Labels: none

scipy 1.5.4
  requirements/min.old
Labels: none

scipy 1.5.2
  requirements/min.old
Labels: none

scipy 1.5.1
  requirements/min.old
Labels: none

scipy 1.5.1 is new min dep version
  environment.yml
  setup.cfg
  tests/datasets/test_advance.py
Labels: testing

Fix skip
  tests/datasets/test_nwpu.py
Labels: testing

Remove packaging dependency
  torchgeo/datasets/openbuildings.py
Labels: datasets

Remove additional references
  environment.yml
  requirements/min.old
  requirements/required.old
  requirements/required.txt
  setup.cfg
  tests/trainers/conftest.py
Labels: testing

Remove unused import
  tests/trainers/conftest.py
Labels: testing

Newer scipy
  requirements/min.old
Labels: none

scipy 1.6.3
  requirements/min.old
Labels: none

scipy 1.6.0
  requirements/min.old
Labels: none

Convert all index transforms to Kornia
  tests/transforms/test_indices.py
  torchgeo/transforms/indices.py
Labels: transforms, testing

Fix tests too
  tests/transforms/test_transforms.py
Labels: testing

Fix docs build
  docs/conf.py
Labels: documentation

Fix one more set of transforms
  docs/tutorials/transforms.ipynb
Labels: documentation

Kornia augs add new batch dimension
  docs/tutorials/indices.ipynb
Labels: documentation

Update transforms tutorial
  docs/tutorials/transforms.ipynb
Labels: documentation

Expand dims
  docs/tutorials/transforms.ipynb
Labels: documentation

Update tutorial
  docs/tutorials/indices.ipynb
Labels: documentation

Kornia transforms require float images
  torchgeo/datasets/eurosat.py
Labels: datasets

Fix device problems
  docs/tutorials/transforms.ipynb
Labels: documentation

Remove unneeded transform
  docs/tutorials/transforms.ipynb
Labels: documentation

Escape quotes
  docs/tutorials/transforms.ipynb
Labels: documentation

scipy 1.6.1
  requirements/min.old
Labels: none

DataModules: run all data augmentation on the GPU
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/eurosat.py
  torchgeo/datamodules/gid15.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datasets/eurosat.py
  torchgeo/transforms/transforms.py
Labels: datamodules, datasets, transforms

Update BigEarthNet
  torchgeo/datamodules/bigearthnet.py
Labels: datamodules

Update COWC
  conf/cowc_counting.yaml
  tests/conf/cowc_counting.yaml
  torchgeo/datamodules/cowc.py
Labels: datamodules, testing

Update Cyclone
  conf/cyclone.yaml
  tests/conf/cyclone.yaml
  torchgeo/datamodules/cyclone.py
Labels: datamodules, testing

Update ETCI2021
  torchgeo/datamodules/etci2021.py
Labels: datamodules

Break ChesapeakeCVPR
  torchgeo/datamodules/chesapeake.py
Labels: datamodules

Passing tests
  tests/transforms/test_transforms.py
  torchgeo/datamodules/eurosat.py
  torchgeo/transforms/transforms.py
Labels: datamodules, transforms, testing

Update FAIR1M
  torchgeo/datamodules/fair1m.py
Labels: datamodules

mypy fixes
  torchgeo/datamodules/bigearthnet.py
  torchgeo/datamodules/chesapeake.py
Labels: datamodules

Update Inria
  torchgeo/datamodules/inria.py
Labels: datamodules

Update LandCoverAI
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/landcoverai.py
Labels: datamodules

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"
