Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

Add LoveDADataModule to the trainer tests (#966)
  tests/conf/loveda.yaml
  tests/datamodules/test_loveda.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/loveda.py
  train.py
Labels: datamodules, scripts, testing

fix datamodule
  tests/datamodules/test_vaihingen.py
  torchgeo/datamodules/vaihingen.py
Labels: datamodules, testing

fix failing test
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

data loader
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

fix failing test crop augmentation
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

fix error an clarity
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

requested changes to vaihingen
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

Formatting again
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

Trying to get minimum tests to pass
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

Formatting
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

remove same_batch param
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

found a bug
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

Update torchgeo/datamodules/vaihingen.py
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

Sort imports
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

Isort, yousort, we all sort
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

Same logic as deepglobe
  conf/deepglobelandcover.yaml
  conf/vaihingen2d.yaml
  tests/conf/vaihingen2d.yaml
  tests/datamodules/test_vaihingen.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datasets/vaihingen.py
  train.py
Labels: datamodules, datasets, scripts, testing

More-specific types
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

Missing import
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/vaihingen.py
Labels: datamodules

Fix Vaihingen datamodule (#853)
  conf/deepglobelandcover.yaml
  conf/vaihingen2d.yaml
  tests/conf/vaihingen2d.yaml
  tests/datamodules/test_vaihingen.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datasets/vaihingen.py
  train.py
Labels: datamodules, datasets, scripts, testing

Fix Vaihingen datamodule (#853)
  conf/deepglobelandcover.yaml
  conf/vaihingen2d.yaml
  tests/conf/vaihingen2d.yaml
  tests/datamodules/test_vaihingen.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datasets/vaihingen.py
  train.py
Labels: datamodules, datasets, scripts, testing

add crop logic to potsdam
  tests/datamodules/test_potsdam.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datasets/utils.py
Labels: datamodules, datasets, testing

suggested changes
  torchgeo/datamodules/potsdam.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/utils.py
Labels: datamodules, datasets

Use same style as Vaihingen2D
  conf/potsdam2d.yaml
  tests/conf/potsdam2d.yaml
  tests/datamodules/test_potsdam.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/potsdam.py
  torchgeo/datasets/utils.py
  train.py
Labels: datamodules, datasets, scripts, testing

Add crop logic to Potsdam2D datamodule (#929)
  conf/potsdam2d.yaml
  tests/conf/potsdam2d.yaml
  tests/datamodules/test_potsdam.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datasets/potsdam.py
  train.py
Labels: datamodules, datasets, scripts, testing

Add crop logic to Potsdam2D datamodule (#929)
  conf/potsdam2d.yaml
  tests/conf/potsdam2d.yaml
  tests/datamodules/test_potsdam.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datasets/potsdam.py
  train.py
Labels: datamodules, datasets, scripts, testing

add datamodule with crop logic
  docs/api/datamodules.rst
  tests/datamodules/test_gid15.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/gid15.py
  torchgeo/datasets/utils.py
Labels: datamodules, datasets, documentation, testing

typo
  tests/datamodules/test_gid15.py
Labels: testing

remove print and fix batch_size
  torchgeo/datamodules/gid15.py
  torchgeo/datasets/utils.py
Labels: datamodules, datasets

Use Kornia augmentations
  conf/gid15.yaml
  docs/api/datamodules.rst
  tests/conf/gid15.yaml
  tests/data/gid15/GID/ann_dir/train/GF2_PMS1__L1A0000564539-MSS1_15label.png
  tests/data/gid15/GID/ann_dir/train/GF2_PMS1__L1A0000575925-MSS1_15label.png
  tests/data/gid15/GID/ann_dir/val/GF2_PMS1__L1A0001064454-MSS1_15label.png
  tests/data/gid15/GID/ann_dir/val/GF2_PMS1__L1A0001118839-MSS1_15label.png
  tests/data/gid15/GID/img_dir/test/GF2_PMS1__L1A0000708367-MSS1.tif
  tests/data/gid15/GID/img_dir/test/GF2_PMS1__L1A0001344822-MSS1.tif
  tests/data/gid15/GID/img_dir/train/GF2_PMS1__L1A0000564539-MSS1.tif
  tests/data/gid15/GID/img_dir/train/GF2_PMS1__L1A0000575925-MSS1.tif
  tests/data/gid15/GID/img_dir/val/GF2_PMS1__L1A0001064454-MSS1.tif
  tests/data/gid15/GID/img_dir/val/GF2_PMS1__L1A0001118839-MSS1.tif
  tests/datamodules/test_gid15.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/gid15.py
  torchgeo/datasets/gid15.py
  torchgeo/datasets/utils.py
  train.py
Labels: datamodules, datasets, documentation, scripts, testing

Style
  torchgeo/datamodules/gid15.py
Labels: datamodules

Ignore warning
  pyproject.toml
Labels: none

Add datamodule for GID-15 dataset (#928)
  conf/gid15.yaml
  docs/api/datamodules.rst
  pyproject.toml
  tests/conf/gid15.yaml
  tests/data/gid15/GID/ann_dir/train/GF2_PMS1__L1A0000564539-MSS1_15label.png
  tests/data/gid15/GID/ann_dir/train/GF2_PMS1__L1A0000575925-MSS1_15label.png
  tests/data/gid15/GID/ann_dir/val/GF2_PMS1__L1A0001064454-MSS1_15label.png
  tests/data/gid15/GID/ann_dir/val/GF2_PMS1__L1A0001118839-MSS1_15label.png
  tests/data/gid15/GID/img_dir/test/GF2_PMS1__L1A0000708367-MSS1.tif
  tests/data/gid15/GID/img_dir/test/GF2_PMS1__L1A0001344822-MSS1.tif
  tests/data/gid15/GID/img_dir/train/GF2_PMS1__L1A0000564539-MSS1.tif
  tests/data/gid15/GID/img_dir/train/GF2_PMS1__L1A0000575925-MSS1.tif
  tests/data/gid15/GID/img_dir/val/GF2_PMS1__L1A0001064454-MSS1.tif
  tests/data/gid15/GID/img_dir/val/GF2_PMS1__L1A0001118839-MSS1.tif
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/gid15.py
  torchgeo/datasets/gid15.py
  train.py
Labels: datamodules, datasets, documentation, scripts, testing

Add datamodule for GID-15 dataset (#928)
  conf/gid15.yaml
  docs/api/datamodules.rst
  pyproject.toml
  tests/conf/gid15.yaml
  tests/data/gid15/GID/ann_dir/train/GF2_PMS1__L1A0000564539-MSS1_15label.png
  tests/data/gid15/GID/ann_dir/train/GF2_PMS1__L1A0000575925-MSS1_15label.png
  tests/data/gid15/GID/ann_dir/val/GF2_PMS1__L1A0001064454-MSS1_15label.png
  tests/data/gid15/GID/ann_dir/val/GF2_PMS1__L1A0001118839-MSS1_15label.png
  tests/data/gid15/GID/img_dir/test/GF2_PMS1__L1A0000708367-MSS1.tif
  tests/data/gid15/GID/img_dir/test/GF2_PMS1__L1A0001344822-MSS1.tif
  tests/data/gid15/GID/img_dir/train/GF2_PMS1__L1A0000564539-MSS1.tif
  tests/data/gid15/GID/img_dir/train/GF2_PMS1__L1A0000575925-MSS1.tif
  tests/data/gid15/GID/img_dir/val/GF2_PMS1__L1A0001064454-MSS1.tif
  tests/data/gid15/GID/img_dir/val/GF2_PMS1__L1A0001118839-MSS1.tif
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/gid15.py
  torchgeo/datasets/gid15.py
  train.py
Labels: datamodules, datasets, documentation, scripts, testing

Same thing for boxes
  torchgeo/datasets/nasa_marine_debris.py
Labels: datasets

Fix for warning raised if model outputs no box predictions (#988)
  torchgeo/datasets/nasa_marine_debris.py
Labels: datasets

Fix for warning raised if model outputs no box predictions (#988)
  torchgeo/datasets/nasa_marine_debris.py
Labels: datasets

add random_grid_cell_assignment with tests
  tests/datasets/test_splits.py
  torchgeo/datasets/splits.py
Labels: datasets, testing

add test
  tests/datasets/test_splits.py
Labels: testing

insert object into new indexes
  torchgeo/datasets/splits.py
Labels: datasets

check grid_size
  tests/datasets/test_splits.py
  torchgeo/datasets/splits.py
Labels: datasets, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"
