Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, dependencies, documentation, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/datamodules/**"
datasets:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/datasets/**"
losses:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/losses/**"
models:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/models/**"
samplers:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/samplers/**"
trainers:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/trainers/**"
transforms:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/transforms/**"

# Other
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "requirements/**"
          - ".github/dependabot.yml"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "*.md"
          - ".github/*.md"
          - ".readthedocs.yaml"
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "torchgeo/__main__.py"
          - "torchgeo/main.py"
          - "experiments/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
          - ".github/workflows/**"

Don't use os.path.join within VFS
  tests/datasets/test_geo.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

Update torchgeo/datasets/utils.py
  torchgeo/datasets/utils.py
Labels: datasets

String format wildcard instead of os.path.join
  torchgeo/datasets/utils.py
Labels: datasets

Remove Analysis
  torchgeo/datamodules/digital_typhoon.py
  torchgeo/datasets/digital_typhoon.py
Labels: datamodules, datasets

Document raises
  torchgeo/datasets/utils.py
Labels: datasets

Dont use os.path.join for zip test
  tests/datasets/test_geo.py
Labels: testing

Update type of error in try except
  tests/datasets/test_geo.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

Simplify tests
  tests/datasets/test_geo.py
Labels: testing

Simplify files property
  torchgeo/datasets/geo.py
Labels: datasets

Remove unnecessary check in if
  torchgeo/datasets/geo.py
Labels: datasets

Add CaBuAr dataset (#2235)
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/conf/cabuar.yaml
  tests/data/cabuar/512x512.hdf5
  tests/data/cabuar/chabud_test.h5
  tests/data/cabuar/data.py
  tests/datasets/test_cabuar.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/cabuar.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/cabuar.py
Labels: datamodules, datasets, documentation, testing

Alternatives: update metrics
  docs/user/alternatives.rst
  docs/user/downloads.csv
  docs/user/github.csv
  docs/user/metrics/downloads.csv
  docs/user/metrics/features.csv
  docs/user/metrics/github.csv
Labels: documentation

min pandas 2.2.0
  requirements/min-reqs.old
Labels: dependencies

Add TerraTorch
  docs/user/alternatives.rst
  docs/user/metrics/downloads.csv
  docs/user/metrics/features.csv
  docs/user/metrics/github.csv
Labels: documentation

Don't include coverage of test files
  docs/user/metrics/github.csv
Labels: documentation

Coverage: update to modern config flag
  pyproject.toml
Labels: dependencies

Coverage: update to modern config flag (#2260)
  pyproject.toml
Labels: dependencies

resolve tests
  requirements/min-reqs.old
  torchgeo/datasets/digital_typhoon.py
Labels: datasets, dependencies

Alternatives: update metrics (#2259)
  docs/user/alternatives.rst
  docs/user/downloads.csv
  docs/user/github.csv
  docs/user/metrics/downloads.csv
  docs/user/metrics/features.csv
  docs/user/metrics/github.csv
Labels: documentation

0.6.0 release
  torchgeo/__init__.py
Labels: none

Fix versionadded
  torchgeo/datamodules/digital_typhoon.py
  torchgeo/datamodules/geonrw.py
  torchgeo/datasets/levircd.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/segmentation.py
Labels: datamodules, datasets, trainers

Docs: fix broken links and redirects
  docs/tutorials/pretrained_weights.ipynb
  docs/user/contributing.rst
  docs/user/installation.rst
  pyproject.toml
  torchgeo/__init__.py
  torchgeo/datasets/advance.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/deepglobelandcover.py
  torchgeo/datasets/dfc2022.py
  torchgeo/datasets/enviroatlas.py
  torchgeo/datasets/eudem.py
  torchgeo/datasets/idtrees.py
  torchgeo/datasets/inaturalist.py
  torchgeo/datasets/loveda.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/pastis.py
  torchgeo/datasets/reforestree.py
  torchgeo/datasets/seco.py
  torchgeo/datasets/sentinel.py
  torchgeo/models/farseg.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
  torchgeo/trainers/byol.py
  torchgeo/transforms/indices.py
Labels: datasets, models, trainers, transforms, dependencies, documentation

Docs: fix broken links and redirects (#2267)
  docs/tutorials/pretrained_weights.ipynb
  docs/user/contributing.rst
  docs/user/installation.rst
  pyproject.toml
  torchgeo/__init__.py
  torchgeo/datasets/advance.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/deepglobelandcover.py
  torchgeo/datasets/dfc2022.py
  torchgeo/datasets/enviroatlas.py
  torchgeo/datasets/eudem.py
  torchgeo/datasets/idtrees.py
  torchgeo/datasets/inaturalist.py
  torchgeo/datasets/loveda.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/pastis.py
  torchgeo/datasets/reforestree.py
  torchgeo/datasets/seco.py
  torchgeo/datasets/sentinel.py
  torchgeo/models/farseg.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
  torchgeo/trainers/byol.py
  torchgeo/transforms/indices.py
Labels: datasets, models, trainers, transforms, dependencies, documentation

DOFA: fix bug in patch embedding
  torchgeo/models/dofa.py
Labels: models

Update checkpoints
  docs/api/weights/agnostic.csv
  torchgeo/models/dofa.py
Labels: models, documentation

DOFA: fix bug in patch embedding (#2256)
  docs/api/weights/agnostic.csv
  torchgeo/models/dofa.py
Labels: models, documentation

Undo sphinx req changes
  docs/conf.py
  pyproject.toml
Labels: dependencies, documentation

Silence mypy warning
  tests/conftest.py
Labels: testing

0.6.0 release
  torchgeo/__init__.py
Labels: none

Attempt to remove fully qualified type hints
  docs/conf.py
  pyproject.toml
Labels: dependencies, documentation

EuroCrops: consistent citation message
  torchgeo/datasets/eurocrops.py
Labels: datasets

Automatically delete downloaded models after successful tests to avoid OOM
  tests/conftest.py
Labels: testing

Undo digital typhoon changes
  torchgeo/datasets/digital_typhoon.py
Labels: datasets

Silence test warnings
  pyproject.toml
  torchgeo/datasets/digital_typhoon.py
Labels: datasets, dependencies

Update docs on ruff
  docs/user/contributing.rst
Labels: documentation

Fix versionadded
  torchgeo/datamodules/digital_typhoon.py
  torchgeo/datamodules/geonrw.py
  torchgeo/datasets/levircd.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/segmentation.py
Labels: datamodules, datasets, trainers

Skip dependabot in auto-generated release notes
  .github/release.yml
Labels: none

0.6.0 release (#2265)
  .github/release.yml
  docs/conf.py
  docs/user/contributing.rst
  pyproject.toml
  tests/conftest.py
  torchgeo/__init__.py
  torchgeo/datamodules/digital_typhoon.py
  torchgeo/datamodules/geonrw.py
  torchgeo/datasets/eurocrops.py
  torchgeo/datasets/levircd.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/segmentation.py
Labels: datamodules, datasets, trainers, dependencies, documentation, testing

Bump torchgeo version to 0.7.0.dev0
  torchgeo/__init__.py
Labels: none

Bump torchgeo version to 0.7.0.dev0 (#2268)
  torchgeo/__init__.py
Labels: none
