Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"

LoveDA: fix URL formatting (#977)
  torchgeo/datasets/loveda.py
Labels: datasets

LoveDA: fix URL formatting (#977)
  torchgeo/datasets/loveda.py
Labels: datasets

Remove tests/datamodules/test_nasa_marine_debris.py (#979)
  tests/datamodules/test_nasa_marine_debris.py
Labels: testing

Remove tests/datamodules/test_nasa_marine_debris.py (#979)
  tests/datamodules/test_nasa_marine_debris.py
Labels: testing

Record number of patches for reconstruction
  torchgeo/datamodules/inria.py
Labels: datamodules

InriaAerialImageLabelingDataModule: fix predict dimensions (#975)
  tests/conf/inria_test.yaml
  tests/conf/inria_train.yaml
  tests/conf/inria_val.yaml
  tests/datamodules/test_inria.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/inria.py
Labels: datamodules, testing

InriaAerialImageLabelingDataModule: fix predict dimensions (#975)
  tests/conf/inria_test.yaml
  tests/conf/inria_train.yaml
  tests/conf/inria_val.yaml
  tests/datamodules/test_inria.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/inria.py
Labels: datamodules, testing

Add loveda to trainer tests
  tests/conf/loveda.yaml
  tests/trainers/test_segmentation.py
  train.py
Labels: scripts, testing

Delete direct loveda datamodule test
  tests/datamodules/test_loveda.py
Labels: testing

Ignoring deprecation warning for lightning
  pyproject.toml
Labels: none

Remove ignore
  pyproject.toml
Labels: none

test -> predict
  torchgeo/datamodules/loveda.py
Labels: datamodules

Fix typo
  torchgeo/datamodules/loveda.py
Labels: datamodules

Add comment explaining mismatch
  torchgeo/datamodules/loveda.py
Labels: datamodules

More coverage
  tests/conf/loveda.yaml
  tests/trainers/test_segmentation.py
Labels: testing

OSCDDataModule: does not support SemanticSegmentationTask
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/trainers/test_segmentation.py
  train.py
Labels: scripts, testing

Increase coverage
  tests/datamodules/test_oscd.py
Labels: testing

crop logic
  tests/datamodules/test_deepglobelandcover.py
  torchgeo/datamodules/deepglobelandcover.py
Labels: datamodules, testing

fix failing test
  tests/conf/deepglobelandcover_0.yaml
  tests/conf/deepglobelandcover_5.yaml
  tests/datamodules/test_deepglobelandcover.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datasets/utils.py
Labels: datamodules, datasets, testing

typos and naming
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datasets/utils.py
Labels: datamodules, datasets

return argument train dataloader
  torchgeo/datamodules/deepglobelandcover.py
Labels: datamodules

typo
  tests/datamodules/test_deepglobelandcover.py
Labels: testing

change train_batch_size logic
  tests/datamodules/test_deepglobelandcover.py
  torchgeo/datamodules/deepglobelandcover.py
Labels: datamodules, testing

typo
  tests/datamodules/test_deepglobelandcover.py
Labels: testing

fix failing test
  tests/conf/deepglobelandcover_0.yaml
  tests/conf/deepglobelandcover_5.yaml
Labels: testing

suggestions except about test file
  pyproject.toml
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/utils.py
Labels: datamodules, datasets

remove comment
  tests/trainers/test_segmentation.py
Labels: testing

reanme collate function
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/utils.py
Labels: datamodules, datasets

move cropping logic to transform and utils
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/utils.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/transforms.py
Labels: datamodules, datasets, transforms

simplify
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/transforms/transforms.py
Labels: datamodules, transforms

remove test_deepglobe and add test to trainer
  tests/datamodules/test_deepglobelandcover.py
  tests/trainers/test_segmentation.py
Labels: testing

forgot new conf file
  tests/conf/deepglobelandcover_batch_size.yaml
Labels: testing

another one
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/transforms.py
Labels: datamodules, transforms

move pad_segmentation to transforms
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datasets/utils.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/transforms.py
Labels: datamodules, datasets, transforms

naming and versionadded
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datasets/utils.py
  torchgeo/transforms/transforms.py
Labels: datamodules, datasets, transforms

some checks for Ncrop
  torchgeo/transforms/transforms.py
Labels: transforms

typo
  torchgeo/transforms/transforms.py
Labels: transforms

another transforms approach
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datasets/deepglobelandcover.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/transforms.py
Labels: datamodules, datasets, transforms

fix read the docs
  torchgeo/transforms/transforms.py
Labels: transforms

add unit tests new transforms
  tests/transforms/test_transforms.py
Labels: testing
