Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

change path
  tests/models/test_resnet.py
Labels: testing

add tests to init pretrained weights from config
  tests/models/test_resnet.py
  tests/models/test_vit.py
  torchgeo/models/__init__.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
  torchgeo/models/weights.py
Labels: models, testing

forgot to add the conf files
  tests/conf/resnet18_weight.yaml
  tests/conf/resnet50_weight.yaml
  tests/conf/vit_small_patch16_224_weight.yaml
Labels: testing

reverse changes to byol task
  torchgeo/trainers/byol.py
Labels: trainers

increase test coverage
  tests/models/test_resnet.py
  tests/models/test_vit.py
  torchgeo/models/vit.py
Labels: models, testing

fix tests another one
  tests/models/test_resnet.py
  tests/models/test_vit.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models, testing

add a draft tutorial
  docs/index.rst
  docs/tutorials/pretrained_weights.ipynb
Labels: documentation

vit tests all pass locally including slow
  tests/models/test_vit.py
Labels: testing

now remote
  tests/models/test_vit.py
Labels: testing

Tutorial typo fixes
  docs/tutorials/pretrained_weights.ipynb
Labels: documentation

run black on tutorial notebook
  docs/tutorials/pretrained_weights.ipynb
Labels: documentation

Lower min torch/vision versions
  environment.yml
  requirements/min.old
  setup.cfg
Labels: none

Fix bad rebase
  torchgeo/trainers/classification.py
Labels: trainers

Remove dead code
  torchgeo/models/farseg.py
  torchgeo/trainers/detection.py
Labels: models, trainers

Flake8 fixes
  torchgeo/trainers/detection.py
Labels: trainers

Consistent in_chans
  docs/tutorials/pretrained_weights.ipynb
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models, documentation

Black fixes
  docs/tutorials/pretrained_weights.ipynb
Labels: documentation

bison > yacs
  docs/api/resnet_pretrained_weights.csv
  tests/models/test_resnet.py
  torchgeo/models/resnet.py
Labels: models, documentation, testing

Remove one more reference
  tests/models/test_resnet.py
Labels: testing

Install tensorboard too
  requirements/required.txt
Labels: none

Download modified weights from hugging face
  tests/models/test_vit.py
  torchgeo/models/__init__.py
  torchgeo/models/resnet.py
  torchgeo/models/utils.py
  torchgeo/models/vit.py
  torchgeo/models/weights.py
Labels: models, testing

Add entrypoints
  docs/api/models.rst
  torchgeo/models/__init__.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models, documentation

Add torch.hub support
  hubconf.py
Labels: scripts

progress arg is required
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models

Fix model loading for resnet18
  torchgeo/models/resnet.py
Labels: models

Add transforms, update tests
  tests/models/test_resnet.py
  tests/models/test_vit.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models, testing

VIT -> ViT
  docs/api/models.rst
Labels: documentation

add seco weights
  torchgeo/models/resnet.py
Labels: models

Fix type hints
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models

Link to timm docs
  docs/conf.py
Labels: documentation

Fix pydocstyle
  hubconf.py
Labels: scripts

Try to fix timm docs link
  docs/conf.py
Labels: documentation

Fix tests
  tests/models/test_resnet.py
  tests/models/test_vit.py
Labels: testing

Nuke ignores
  docs/conf.py
Labels: documentation

Ignore timm links
  docs/conf.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models, documentation

Add model API methods
  torchgeo/models/api.py
Labels: models

Add to __init__ and document
  docs/api/models.rst
  torchgeo/models/__init__.py
Labels: models, documentation

Test model API functions
  tests/models/test_api.py
Labels: testing

fix tests
  tests/models/test_resnet.py
  tests/models/test_vit.py
Labels: testing

Delete custom_raster_dataset.ipynb
  docs/tutorials/custom_raster_dataset.ipynb
Labels: documentation

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"
