Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, dependencies, documentation, scripts, testing

SkyScript: add new dataset
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/skyscript/SkyScript_test_30K_filtered_by_CLIP_openai.csv
  tests/data/skyscript/SkyScript_train_top30pct_filtered_by_CLIP_openai.csv
  tests/data/skyscript/SkyScript_val_5K_filtered_by_CLIP_openai.csv
  tests/data/skyscript/data.py
  tests/data/skyscript/images2.zip
  tests/data/skyscript/images2/w779523169_CH_18.jpg
  tests/data/skyscript/images3.zip
  tests/data/skyscript/images3/w602363451_US_21.jpg
  tests/data/skyscript/images4.zip
  tests/data/skyscript/images4/w779523169_CH_18.jpg
  tests/data/skyscript/images5.zip
  tests/data/skyscript/images5/w602363451_US_21.jpg
  tests/data/skyscript/images6.zip
  tests/data/skyscript/images6/w779523169_CH_18.jpg
  tests/data/skyscript/images7.zip
  tests/data/skyscript/images7/w602363451_US_21.jpg
  tests/datasets/test_skyscript.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/skyscript.py
Labels: datasets, documentation, testing

Remove print statements
  tests/datasets/test_skyscript.py
  torchgeo/datasets/skyscript.py
Labels: datasets, testing

Fix bug
  torchgeo/datasets/skyscript.py
Labels: datasets

100% coverage
  tests/datasets/test_skyscript.py
Labels: testing

Add tests and fix code
  tests/datasets/test_utils.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

Try to support windows for vsi tests
  tests/datasets/test_geo.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

Rwanda Field Boundary: don't plot empty masks
  torchgeo/datasets/rwanda_field_boundary.py
Labels: datasets

RasterDataset: support date_str containing % character (#2233)
  tests/datasets/test_utils.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

Import sorting
  torchgeo/datasets/rwanda_field_boundary.py
Labels: datasets

Revert windows-specific path format
  tests/datasets/test_geo.py
Labels: testing

plotting
  torchgeo/datasets/geonrw.py
Labels: datasets

fix tests
  tests/datasets/test_digital_typhoon.py
  torchgeo/datasets/digital_typhoon.py
Labels: datasets, testing

text -> caption
  tests/datasets/test_skyscript.py
  torchgeo/datasets/skyscript.py
Labels: datasets, testing

Simpler tests
  tests/datasets/test_skyscript.py
Labels: testing

Reformat
  torchgeo/datasets/skyscript.py
Labels: datasets

Dependabot: don't update timm
  .github/dependabot.yml
Labels: dependencies

Dependabot: don't update timm (#2257)
  .github/dependabot.yml
Labels: dependencies

versionadded: 2 digits
  torchgeo/datamodules/geonrw.py
Labels: datamodules

Skip TestVirtualFilesystems if platform is windows
  tests/datasets/test_geo.py
Labels: testing

Type hint unnecessary
  torchgeo/datasets/geonrw.py
Labels: datasets

Remove user-specific ignore from gitignore
  .gitignore
Labels: none

Properly remove changes from .gitignore
  .gitignore
Labels: none

Add GeoNRW dataset (#2209)
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/conf/geonrw.yaml
  tests/data/geonrw/aachen/0_0_dem.tif
  tests/data/geonrw/aachen/0_0_rgb.jp2
  tests/data/geonrw/aachen/0_0_seg.tif
  tests/data/geonrw/aachen/1_1_dem.tif
  tests/data/geonrw/aachen/1_1_rgb.jp2
  tests/data/geonrw/aachen/1_1_seg.tif
  tests/data/geonrw/bergisch/0_0_dem.tif
  tests/data/geonrw/bergisch/0_0_rgb.jp2
  tests/data/geonrw/bergisch/0_0_seg.tif
  tests/data/geonrw/bergisch/1_1_dem.tif
  tests/data/geonrw/bergisch/1_1_rgb.jp2
  tests/data/geonrw/bergisch/1_1_seg.tif
  tests/data/geonrw/bielefeld/0_0_dem.tif
  tests/data/geonrw/bielefeld/0_0_rgb.jp2
  tests/data/geonrw/bielefeld/0_0_seg.tif
  tests/data/geonrw/bielefeld/1_1_dem.tif
  tests/data/geonrw/bielefeld/1_1_rgb.jp2
  tests/data/geonrw/bielefeld/1_1_seg.tif
  tests/data/geonrw/data.py
  tests/data/geonrw/duesseldorf/0_0_dem.tif
  tests/data/geonrw/duesseldorf/0_0_rgb.jp2
  tests/data/geonrw/duesseldorf/0_0_seg.tif
  tests/data/geonrw/duesseldorf/1_1_dem.tif
  tests/data/geonrw/duesseldorf/1_1_rgb.jp2
  tests/data/geonrw/duesseldorf/1_1_seg.tif
  tests/data/geonrw/nrw_dataset.tar.gz
  tests/datasets/test_geonrw.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/geonrw.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/geonrw.py
Labels: datamodules, datasets, documentation, testing

SatlasPretrain: ResNet50/152 and Swin_V2_T Weights (#2038)
  docs/api/landsat_pretrained_weights.csv
  docs/api/models.rst
  docs/api/naip_pretrained_weights.csv
  docs/api/sentinel1_pretrained_weights.csv
  docs/api/sentinel2_pretrained_weights.csv
  hubconf.py
  tests/models/test_api.py
  tests/models/test_resnet.py
  tests/models/test_swin.py
  torchgeo/models/__init__.py
  torchgeo/models/api.py
  torchgeo/models/resnet.py
  torchgeo/models/swin.py
  torchgeo/transforms/transforms.py
Labels: models, transforms, documentation, testing

Update col widths
  docs/api/models.rst
Labels: documentation

Docs: emphasize multi-modal foundation models
  docs/api/agnostic_pretrained_weights.csv
  docs/api/misc_pretrained_weights.csv
  docs/api/models.rst
Labels: documentation

Subdirectory for weights files
  docs/api/models.rst
  docs/api/weights/agnostic.csv
  docs/api/weights/landsat.csv
  docs/api/weights/naip.csv
  docs/api/weights/sentinel1.csv
  docs/api/weights/sentinel2.csv
Labels: documentation

Docs: emphasize multi-modal foundation models (#2236)
  docs/api/agnostic_pretrained_weights.csv
  docs/api/misc_pretrained_weights.csv
  docs/api/models.rst
  docs/api/weights/agnostic.csv
  docs/api/weights/landsat.csv
  docs/api/weights/naip.csv
  docs/api/weights/sentinel1.csv
  docs/api/weights/sentinel2.csv
Labels: documentation

SkyScript: add new dataset (#2253)
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/data/skyscript/SkyScript_test_30K_filtered_by_CLIP_openai.csv
  tests/data/skyscript/SkyScript_train_top30pct_filtered_by_CLIP_openai.csv
  tests/data/skyscript/SkyScript_val_5K_filtered_by_CLIP_openai.csv
  tests/data/skyscript/data.py
  tests/data/skyscript/images2.zip
  tests/data/skyscript/images2/w779523169_CH_18.jpg
  tests/data/skyscript/images3.zip
  tests/data/skyscript/images3/w602363451_US_21.jpg
  tests/data/skyscript/images4.zip
  tests/data/skyscript/images4/w779523169_CH_18.jpg
  tests/data/skyscript/images5.zip
  tests/data/skyscript/images5/w602363451_US_21.jpg
  tests/data/skyscript/images6.zip
  tests/data/skyscript/images6/w779523169_CH_18.jpg
  tests/data/skyscript/images7.zip
  tests/data/skyscript/images7/w602363451_US_21.jpg
  tests/datasets/test_skyscript.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/skyscript.py
Labels: datasets, documentation, testing

Rwanda Field Boundary: don't plot empty masks (#2254)
  torchgeo/datasets/rwanda_field_boundary.py
Labels: datasets

list -> tuple
  torchgeo/datasets/digital_typhoon.py
Labels: datasets

mypy fix
  torchgeo/datamodules/digital_typhoon.py
Labels: datamodules

:hammer: updated test, corrected docs, minor fixes to dataset and datamodule
  docs/api/datamodules.rst
  docs/api/non_geo_datasets.csv
  tests/conf/cabuar.yaml
  tests/data/cabuar/512x512.hdf5
  tests/data/cabuar/data.py
  tests/datamodules/test_cabuar.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/cabuar.py
  torchgeo/datasets/cabuar.py
Labels: datamodules, datasets, documentation, testing

:hammer: CaBuAr test fixes
  tests/datasets/test_cabuar.py
Labels: testing

rename
  docs/api/datamodules.rst
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  tests/conf/digital_typhoon_id.yaml
  tests/conf/digital_typhoon_time.yaml
  tests/datasets/test_digital_typhoon.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/digital_typhoon.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/digital_typhoon.py
Labels: datamodules, datasets, documentation, testing

tests
  tests/datamodules/test_digital_typhoon.py
Labels: testing

Rename VSI to VFS where appropriate
  torchgeo/datasets/utils.py
Labels: datasets

Format docstring of listdir_vfs_recursive
  torchgeo/datasets/utils.py
Labels: datasets

Update torchgeo/datasets/utils.py
  torchgeo/datasets/utils.py
Labels: datasets

Update torchgeo/datasets/utils.py
  torchgeo/datasets/utils.py
Labels: datasets

.github/labeler.yml:

# TorchGeo modules
datamodules:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/datamodules/**"
datasets:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/datasets/**"
losses:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/losses/**"
models:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/models/**"
samplers:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/samplers/**"
trainers:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/trainers/**"
transforms:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/transforms/**"

# Other
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "requirements/**"
          - ".github/dependabot.yml"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "*.md"
          - ".github/*.md"
          - ".readthedocs.yaml"
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "torchgeo/__main__.py"
          - "torchgeo/main.py"
          - "experiments/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
          - ".github/workflows/**"
