Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"

better tests
  .DS_Store
  tests/.DS_Store
  tests/data/.DS_Store
  tests/datasets/test_splits.py
Labels: testing

small type fix
  tests/datasets/test_splits.py
Labels: testing

fix again
  tests/datasets/test_splits.py
Labels: testing

rm .DS_Store
  .DS_Store
  tests/.DS_Store
  tests/data/.DS_Store
Labels: testing

Update apt-get repository before install
  .github/workflows/tests.yaml
Labels: testing

Update apt-get repository before install (#1009)
  .github/workflows/tests.yaml
Labels: testing

Update apt-get repository before install (#1009)
  .github/workflows/tests.yaml
Labels: testing

Bump smp and timm deps
  requirements/required.txt
  setup.cfg
Labels: none

Bump max version
  setup.cfg
Labels: none

Fix mistakes caught by pydocstyle convention PR
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/gid15.py
  torchgeo/models/rcf.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
Labels: datamodules, datasets, models, samplers

Bump smp and timm deps (#1002)
  requirements/required.txt
  setup.cfg
Labels: none

Bump smp and timm deps (#1002)
  requirements/required.txt
  setup.cfg
Labels: none

Fix mistakes caught by pydocstyle convention PR (#1011)
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/gid15.py
  torchgeo/models/rcf.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
Labels: datamodules, datasets, models, samplers

Fix mistakes caught by pydocstyle convention PR (#1011)
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/gid15.py
  torchgeo/models/rcf.py
  torchgeo/samplers/batch.py
  torchgeo/samplers/single.py
Labels: datamodules, datasets, models, samplers

.gitignore: ignore lightning_logs directory
  .gitignore
Labels: none

.gitignore: ignore lightning_logs directory (#1015)
  .gitignore
Labels: none

.gitignore: ignore lightning_logs directory (#1015)
  .gitignore
Labels: none

Clarify co/cross-pol, backscatter coeff, and scale
  torchgeo/datasets/sentinel.py
Labels: datasets

Bump max setuptools versions
  pyproject.toml
Labels: none

load pretrained weights
  torchgeo/models/__init__.py
  torchgeo/models/weights.py
  torchgeo/trainers/classification.py
Labels: models, trainers

rename sentinel1 weights
  torchgeo/models/resnet.py
Labels: models

restructure and additional weights
  torchgeo/models/__init__.py
  torchgeo/models/resnet.py
Labels: models

add vit small weights
  torchgeo/models/__init__.py
  torchgeo/models/resnet.py
  torchgeo/trainers/classification.py
Labels: models, trainers

change name millionaid
  torchgeo/models/weights.py
Labels: models

struggling with test
  docs/api/models.rst
  tests/models/test_resnet.py
  torchgeo/models/resnet.py
Labels: models, documentation, testing

feedback on tests
  tests/models/test_resnet.py
Labels: testing

wrong name failing test
  tests/models/test_resnet.py
Labels: testing

forgot to add vit.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models

fix failing test
  torchgeo/trainers/classification.py
Labels: trainers

fix failing test and add vit tests
  tests/models/test_resnet.py
  tests/models/test_vit.py
Labels: testing

fix failing test
  torchgeo/trainers/classification.py
Labels: trainers

increase test coverage
  tests/data/models/resnet50-sentinel2-2.pt.zip
  tests/models/test_resnet.py
  torchgeo/models/resnet.py
Labels: models, testing

typo num channels
  tests/models/test_resnet.py
Labels: testing

torchgeo.models.utils
  torchgeo/models/__init__.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models

forgot utils file
  torchgeo/models/utils.py
Labels: models

fix failing vit test
  tests/models/test_vit.py
  torchgeo/models/vit.py
Labels: models, testing

another try min dependencies
  requirements/min.old
  setup.cfg
Labels: none

add documentation table
  docs/api/models.rst
  docs/api/resnet_pretrained_weights.csv
  docs/api/vit_pretrained_weights.csv
  torchgeo/models/resnet.py
Labels: models, documentation

nitpick docs, version torchvision
  docs/conf.py
  environment.yml
  setup.cfg
Labels: documentation

expand pytests to test pretrained weights on tasks
  tests/models/test_resnet.py
  tests/models/test_vit.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/regression.py
Labels: trainers, testing
