Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

OSCDDataModule: does not support SemanticSegmentationTask (#983)
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/datamodules/test_oscd.py
  tests/trainers/test_segmentation.py
  train.py
Labels: scripts, testing

OSCDDataModule: does not support SemanticSegmentationTask (#983)
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/datamodules/test_oscd.py
  tests/trainers/test_segmentation.py
  train.py
Labels: scripts, testing

Added FCOS and RetinaNet to detection trainer.
  .gitignore
  torchgeo/trainers/detection.py
Labels: trainers

Added detection tests.
  tests/trainers/test_detection.py
Labels: testing

Remove cruft
  docs/api/non_geo_datasets.csv
  tests/conf/deepglobelandcover_0.yaml
  tests/conf/deepglobelandcover_5.yaml
  tests/conf/deepglobelandcover_batch_size.yaml
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/utils.py
Labels: datamodules, datasets, documentation, testing

More simplification
  tests/conf/deepglobelandcover_0.yaml
  tests/conf/deepglobelandcover_5.yaml
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/deepglobelandcover.py
Labels: datamodules, testing

Add config file
  tests/conf/deepglobelandcover.yaml
Labels: testing

Removed requested lines.
  .gitignore
  torchgeo/trainers/detection.py
Labels: trainers

Test fixes.
  tests/trainers/test_detection.py
  torchgeo/datasets/idtrees.py
  torchgeo/trainers/detection.py
Labels: datasets, trainers, testing

Implemented ExtractTensorPatches
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/transforms/__init__.py
  torchgeo/transforms/transforms.py
Labels: datamodules, transforms

Remove tests
  tests/transforms/test_transforms.py
Labels: testing

Remove unnecessary attrs
  torchgeo/datamodules/deepglobelandcover.py
Labels: datamodules

Apply to both input and mask
  torchgeo/transforms/transforms.py
Labels: transforms

Implement RandomNCrop
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/inria.py
  torchgeo/samplers/utils.py
  torchgeo/transforms/transforms.py
Labels: datamodules, samplers, transforms

Fix dimensions
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/transforms/transforms.py
Labels: datamodules, transforms

mypy fixes
  torchgeo/transforms/transforms.py
Labels: transforms

Fix docs
  docs/api/datasets.rst
Labels: documentation

Change detection_model to model
  conf/nasa_marine_debris.yaml
Labels: none

Update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Fix for warning when no predictions are made
  torchgeo/datasets/nasa_marine_debris.py
Labels: datasets

Update pre-commit hooks (#987)
  .pre-commit-config.yaml
Labels: none

Update pre-commit hooks (#987)
  .pre-commit-config.yaml
Labels: none

add time_series_split with tests
  tests/datasets/test_splits.py
  torchgeo/datasets/splits.py
Labels: datasets, testing

fix random_nongeo_split to work with fractions in torch 1.9
  torchgeo/datasets/splits.py
Labels: datasets

Change detection_model to model (#986)
  conf/nasa_marine_debris.yaml
Labels: none

Change detection_model to model (#986)
  conf/nasa_marine_debris.yaml
Labels: none

modify random_nongeo_split test for coverage
  tests/datasets/test_splits.py
Labels: testing

Ensure that image and mask get the same transformation
  torchgeo/transforms/transforms.py
Labels: transforms

Bump min kornia version
  environment.yml
  requirements/min.old
  setup.cfg
Labels: none

ignore still needed?
  pyproject.toml
Labels: none

Remove unneeded hacks
  pyproject.toml
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datasets/utils.py
Labels: datamodules, datasets

Fix pydocstyle
  torchgeo/datasets/utils.py
Labels: datasets

bump max version
  setup.cfg
Labels: none

Added CSVLogger
  train.py
Labels: scripts

Fix dimensions
  torchgeo/datamodules/deepglobelandcover.py
Labels: datamodules

Add random crop logic to DeepGlobeLandCover Datamodule (#876)
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  environment.yml
  requirements/min.old
  setup.cfg
  tests/conf/deepglobelandcover.yaml
  tests/conf/deepglobelandcover_5.yaml
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/inria.py
  torchgeo/datasets/deepglobelandcover.py
  torchgeo/samplers/utils.py
  torchgeo/transforms/transforms.py
Labels: datamodules, datasets, samplers, transforms, documentation, testing

Add random crop logic to DeepGlobeLandCover Datamodule (#876)
  docs/api/datasets.rst
  docs/api/non_geo_datasets.csv
  environment.yml
  requirements/min.old
  setup.cfg
  tests/conf/deepglobelandcover.yaml
  tests/conf/deepglobelandcover_5.yaml
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/inria.py
  torchgeo/datasets/deepglobelandcover.py
  torchgeo/samplers/utils.py
  torchgeo/transforms/transforms.py
Labels: datamodules, datasets, samplers, transforms, documentation, testing

Added CSVLogger (#991)
  train.py
Labels: scripts

Added CSVLogger (#991)
  train.py
Labels: scripts

Add LoveDADataModule to the trainer tests (#966)
  tests/conf/loveda.yaml
  tests/datamodules/test_loveda.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/loveda.py
  train.py
Labels: datamodules, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"
