Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

encoder -> backbone
  conf/chesapeake_cvpr.yaml
  conf/etci2021.yaml
  conf/inria.yaml
  conf/landcoverai.yaml
  conf/naipchesapeake.yaml
  conf/oscd.yaml
  conf/sen12ms.yaml
  evaluate.py
  experiments/run_chesapeake_cvpr_experiments.py
  experiments/run_landcoverai_experiments.py
  experiments/run_landcoverai_seed_experiments.py
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/deepglobelandcover_0.yaml
  tests/conf/deepglobelandcover_5.yaml
  tests/conf/etci2021.yaml
  tests/conf/inria.yaml
  tests/conf/landcoverai.yaml
  tests/conf/naipchesapeake.yaml
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/conf/sen12ms_all.yaml
  tests/conf/sen12ms_s1.yaml
  tests/conf/sen12ms_s2_all.yaml
  tests/conf/sen12ms_s2_reduced.yaml
  tests/trainers/test_segmentation.py
  torchgeo/trainers/segmentation.py
Labels: trainers, scripts, testing

encoder -> backbone
  conf/byol.yaml
  tests/conf/byol.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/trainers/conftest.py
  tests/trainers/test_byol.py
  tests/trainers/test_utils.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/utils.py
Labels: trainers, testing

Datasets: consistent capitalization of band names
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/cloud_cover.py
  torchgeo/datasets/cv4a_kenya_crop_type.py
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/seco.py
  torchgeo/datasets/sen12ms.py
  torchgeo/datasets/sentinel.py
  torchgeo/datasets/so2sat.py
  torchgeo/datasets/zuericrop.py
Labels: datasets

Fix tests too
  tests/datasets/test_benin_cashews.py
  tests/datasets/test_seco.py
Labels: testing

Change regression task to timm support (#854)
  tests/conf/cowc_counting.yaml
  tests/conf/cyclone.yaml
  tests/trainers/test_regression.py
  torchgeo/trainers/regression.py
Labels: trainers, testing

Change regression task to timm support (#854)
  tests/conf/cowc_counting.yaml
  tests/conf/cyclone.yaml
  tests/trainers/test_regression.py
  torchgeo/trainers/regression.py
Labels: trainers, testing

Revert setuptools
  requirements/min.old
Labels: none

Specify jupyter-packaging
  requirements/min.old
Labels: none

Bump numpy
  environment.yml
  requirements/min.old
  setup.cfg
Labels: none

Bump rasterio
  requirements/min.old
Labels: none

Downgrade jupyterlab
  requirements/min.old
Labels: none

Add jupyterlab
  requirements/min.old
Labels: none

Bump min version of open3d
  environment.yml
  requirements/min.old
  setup.cfg
Labels: none

Pin nbconvert
  requirements/min.old
Labels: none

Bump setuptools
  requirements/min.old
Labels: none

Test setuptools==46.4
  requirements/min.old
  setup.cfg
Labels: none

Update
  setup.cfg
Labels: none

Revert rasterio bump
  requirements/min.old
  setup.cfg
Labels: none

Add reason for rasterio bump
  setup.cfg
Labels: none

Bump pandas
  environment.yml
  requirements/min.old
  setup.cfg
Labels: none

Bump ipywidgets
  environment.yml
  requirements/min.old
  setup.cfg
Labels: none

Bump pillow
  environment.yml
  requirements/min.old
  setup.cfg
Labels: none

Ignore warning
  pyproject.toml
Labels: none

use xvfb for pyvista tests
  .github/workflows/tests.yaml
  tests/datasets/test_idtrees.py
Labels: testing

changes per suggestions
  .github/workflows/tests.yaml
  tests/datasets/test_idtrees.py
  torchgeo/datasets/idtrees.py
Labels: datasets, testing

changes per suggestions x2
  tests/datasets/test_idtrees.py
Labels: testing

remove bugged test
  tests/datasets/test_idtrees.py
Labels: testing

add segmentation predict step
  tests/trainers/test_segmentation.py
  torchgeo/trainers/segmentation.py
Labels: trainers, testing

add OOM wawrning to docstring
  torchgeo/trainers/segmentation.py
Labels: trainers

add predict_step to SemanticSegmentationTask (#939)
  tests/trainers/test_segmentation.py
  torchgeo/trainers/segmentation.py
Labels: trainers, testing

add predict_step to SemanticSegmentationTask (#939)
  tests/trainers/test_segmentation.py
  torchgeo/trainers/segmentation.py
Labels: trainers, testing

remove backbone_output_stride from confs
  conf/chesapeake_cvpr.yaml
  conf/naipchesapeake.yaml
  conf/sen12ms.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/naipchesapeake.yaml
  tests/conf/sen12ms_all.yaml
  tests/conf/sen12ms_s1.yaml
  tests/conf/sen12ms_s2_all.yaml
  tests/conf/sen12ms_s2_reduced.yaml
Labels: testing

documentation about support
  torchgeo/trainers/detection.py
Labels: trainers

change argument name
  tests/conf/nasa_marine_debris.yaml
  tests/trainers/test_detection.py
  torchgeo/trainers/detection.py
Labels: trainers, testing

fix failing test
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/trainers/conftest.py
  tests/trainers/test_byol.py
  tests/trainers/test_utils.py
  torchgeo/trainers/utils.py
Labels: trainers, testing

Bump max version
  setup.cfg
Labels: none

Change argument name Object Detection Task (#920)
  tests/conf/nasa_marine_debris.yaml
  tests/trainers/test_detection.py
  torchgeo/trainers/detection.py
Labels: trainers, testing

Change argument name Object Detection Task (#920)
  tests/conf/nasa_marine_debris.yaml
  tests/trainers/test_detection.py
  torchgeo/trainers/detection.py
Labels: trainers, testing

bump max version
  setup.cfg
Labels: none

Change segmentation model argument names (#919)
  conf/chesapeake_cvpr.yaml
  conf/etci2021.yaml
  conf/inria.yaml
  conf/landcoverai.yaml
  conf/naipchesapeake.yaml
  conf/oscd.yaml
  conf/sen12ms.yaml
  evaluate.py
  experiments/run_chesapeake_cvpr_experiments.py
  experiments/run_landcoverai_experiments.py
  experiments/run_landcoverai_seed_experiments.py
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/conf/deepglobelandcover_0.yaml
  tests/conf/deepglobelandcover_5.yaml
  tests/conf/etci2021.yaml
  tests/conf/inria.yaml
  tests/conf/landcoverai.yaml
  tests/conf/naipchesapeake.yaml
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/conf/sen12ms_all.yaml
  tests/conf/sen12ms_s1.yaml
  tests/conf/sen12ms_s2_all.yaml
  tests/conf/sen12ms_s2_reduced.yaml
  tests/trainers/test_segmentation.py
  torchgeo/trainers/segmentation.py
Labels: trainers, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"
