Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"

Flake8 fix
  torchgeo/datasets/geo.py
Labels: datasets

Need to download the dataset
  docs/tutorials/trainers.ipynb
Labels: documentation

Inria datamodule: needs augs during test stage too
  torchgeo/datamodules/inria.py
Labels: datamodules

Conda: update environment.yml
  environment.yml
Labels: none

0.4.0 release (#1036)
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  conf/bigearthnet.yaml
  conf/byol.yaml
  conf/chesapeake_cvpr.yaml
  conf/cowc_counting.yaml
  conf/cyclone.yaml
  conf/inria.yaml
  conf/landcoverai.yaml
  conf/nasa_marine_debris.yaml
  conf/resisc45.yaml
  conf/so2sat.yaml
  conf/spacenet1.yaml
  docs/tutorials/pretrained_weights.ipynb
  docs/tutorials/trainers.ipynb
  pyproject.toml
  setup.cfg
  tests/datasets/test_geo.py
  tests/test_train.py
  torchgeo/__init__.py
  torchgeo/datamodules/inria.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/geo.py
Labels: datamodules, datasets, documentation, testing

0.4.0 release (#1036)
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  conf/bigearthnet.yaml
  conf/byol.yaml
  conf/chesapeake_cvpr.yaml
  conf/cowc_counting.yaml
  conf/cyclone.yaml
  conf/inria.yaml
  conf/landcoverai.yaml
  conf/nasa_marine_debris.yaml
  conf/resisc45.yaml
  conf/so2sat.yaml
  conf/spacenet1.yaml
  docs/tutorials/pretrained_weights.ipynb
  docs/tutorials/trainers.ipynb
  pyproject.toml
  setup.cfg
  tests/datasets/test_geo.py
  tests/test_train.py
  torchgeo/__init__.py
  torchgeo/datamodules/inria.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/geo.py
Labels: datamodules, datasets, documentation, testing

Bump version to 0.5.0.dev0
  torchgeo/__init__.py
Labels: none

Bump version to 0.5.0.dev0
  torchgeo/__init__.py
Labels: none

plot method
  torchgeo/datasets/geo.py
Labels: datasets
