Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"

Fix ETCI2021
  torchgeo/datamodules/etci2021.py
  torchgeo/datasets/etci2021.py
Labels: datamodules, datasets

Fix dtype and shape
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/naip.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/geo.py
  torchgeo/transforms/transforms.py
Labels: datamodules, datasets, transforms

Add GeoDataModule base class
  docs/api/datamodules.rst
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/gid15.py
  torchgeo/datamodules/naip.py
Labels: datamodules, documentation

Fix crs/bbox issue
  torchgeo/datamodules/geo.py
  torchgeo/transforms/transforms.py
Labels: datamodules, transforms

Fix test dtype
  tests/datasets/test_geo.py
Labels: testing

Fix several chesapeake bugs
  conf/chesapeake_cvpr.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/datamodules/test_chesapeake.py
  torchgeo/datamodules/chesapeake.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/naip.py
  torchgeo/transforms/transforms.py
Labels: datamodules, transforms, testing

Fix SEN12MS
  torchgeo/datamodules/sen12ms.py
  torchgeo/datasets/sen12ms.py
Labels: datamodules, datasets

Fix missing imports
  torchgeo/datamodules/spacenet.py
Labels: datamodules

Better checks on sampler
  torchgeo/datamodules/geo.py
Labels: datamodules

Add one to mask
  torchgeo/datamodules/spacenet.py
Labels: datamodules

Fix chesapeake dimensions
  torchgeo/datamodules/chesapeake.py
Labels: datamodules

Fix unequal size stacking error
  torchgeo/datamodules/chesapeake.py
  torchgeo/transforms/transforms.py
Labels: datamodules, transforms

Fix bug introduced in NAIP dm
  torchgeo/datamodules/naip.py
Labels: datamodules

flake8 fix
  torchgeo/datamodules/chesapeake.py
Labels: datamodules

Fix tests
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
Labels: testing

Don't run test or predict without datasets
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
Labels: testing

Simplify augmentations
  torchgeo/trainers/byol.py
Labels: trainers

Fix batch size
  torchgeo/datamodules/chesapeake.py
Labels: datamodules

Allow shared dataset
  torchgeo/datamodules/geo.py
Labels: datamodules

One more try
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/geo.py
Labels: datamodules, testing

Fix typo
  torchgeo/datamodules/geo.py
Labels: datamodules

Fix Chesapeake dimensions
  torchgeo/datamodules/chesapeake.py
Labels: datamodules

Fix another typo
  torchgeo/datamodules/geo.py
Labels: datamodules

Apply augmentations during sanity check too
  torchgeo/datamodules/geo.py
Labels: datamodules

Don't reuse fixtures
  tests/datamodules/test_fair1m.py
  tests/datamodules/test_oscd.py
  tests/datamodules/test_usavars.py
  tests/datamodules/test_xview2.py
Labels: testing

Increase coverage
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
Labels: testing

Fix ETCI tests
  torchgeo/datamodules/etci2021.py
Labels: datamodules

Test predict_step
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
Labels: testing

Test all loss methods
  tests/conf/so2sat_all.yaml
  tests/conf/so2sat_s2.yaml
Labels: testing

Remove packaging dependency (#1019)
  environment.yml
  requirements/min.old
  requirements/required.old
  requirements/required.txt
  setup.cfg
  tests/trainers/conftest.py
  torchgeo/datasets/openbuildings.py
Labels: datasets, testing

Remove packaging dependency (#1019)
  environment.yml
  requirements/min.old
  requirements/required.old
  requirements/required.txt
  setup.cfg
  tests/trainers/conftest.py
  torchgeo/datasets/openbuildings.py
Labels: datasets, testing

Convert all index transforms to Kornia (#999)
  docs/conf.py
  docs/tutorials/indices.ipynb
  docs/tutorials/transforms.ipynb
  tests/transforms/test_indices.py
  tests/transforms/test_transforms.py
  torchgeo/datasets/eurosat.py
  torchgeo/transforms/indices.py
Labels: datasets, transforms, documentation, testing

Convert all index transforms to Kornia (#999)
  docs/conf.py
  docs/tutorials/indices.ipynb
  docs/tutorials/transforms.ipynb
  tests/transforms/test_indices.py
  tests/transforms/test_transforms.py
  torchgeo/datasets/eurosat.py
  torchgeo/transforms/indices.py
Labels: datasets, transforms, documentation, testing

Simplify validation plotting
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: trainers, testing

Fix plotting
  torchgeo/datamodules/naip.py
  torchgeo/datasets/chesapeake.py
Labels: datamodules, datasets

Plotting should be robust in case dataset does not contain RGB bands
  torchgeo/trainers/classification.py
  torchgeo/trainers/detection.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/segmentation.py
Labels: trainers

Document new classes
  torchgeo/datamodules/geo.py
Labels: datamodules

Fix flake8
  torchgeo/datamodules/naip.py
Labels: datamodules

100% coverage of trainers
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  torchgeo/datasets/bigearthnet.py
Labels: datasets, testing

Add lightning-lite dependency
  environment.yml
  requirements/min.old
  requirements/required.old
  requirements/required.txt
  setup.cfg
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/geo.py
Labels: datamodules, testing
