Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, dependencies, documentation, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/datamodules/**"
datasets:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/datasets/**"
losses:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/losses/**"
models:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/models/**"
samplers:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/samplers/**"
trainers:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/trainers/**"
transforms:
  - changed-files:
      - any-glob-to-any-file: "torchgeo/transforms/**"

# Other
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "requirements/**"
          - ".github/dependabot.yml"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "*.md"
          - ".github/*.md"
          - ".readthedocs.yaml"
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "torchgeo/__main__.py"
          - "torchgeo/main.py"
          - "experiments/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
          - ".github/workflows/**"

GeoDataset: allow a mix of str and pathlib paths
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

Update type hints
  torchgeo/datasets/geo.py
Labels: datasets

Simpler str conversion
  torchgeo/datasets/geo.py
Labels: datasets

GeoDataset: allow a mix of str and pathlib paths (#2270)
  tests/datasets/test_geo.py
  torchgeo/datasets/geo.py
Labels: datasets, testing

Datasets: support os.PathLike
  tests/datasets/test_geo.py
  torchgeo/datasets/agb_live_woody_density.py
  torchgeo/datasets/agrifieldnet.py
  torchgeo/datasets/cbf.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/cms_mangrove_canopy.py
  torchgeo/datasets/esri2020.py
  torchgeo/datasets/eudem.py
  torchgeo/datasets/eurocrops.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/globbiomass.py
  torchgeo/datasets/l7irish.py
  torchgeo/datasets/l8biome.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/nlcd.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/south_africa_crop_type.py
  torchgeo/datasets/south_america_soybean.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

pytest: set default --cov, --cov-report
  .github/workflows/tests.yaml
  docs/user/contributing.rst
  pyproject.toml
Labels: dependencies, documentation, testing

pytest: measure branch coverage
  pyproject.toml
Labels: dependencies

Dependabot: only update npm lockfile
  .github/dependabot.yml
  requirements/package.json
Labels: dependencies

Prettier: ignore cache directories
  .prettierignore
Labels: none

Docs: installation-agnostic prettier usage
  .github/workflows/style.yaml
  docs/user/contributing.rst
Labels: documentation, testing

Docs: move dataset CSV files to subdir
  docs/api/datasets.rst
  docs/api/datasets/geo_datasets.csv
  docs/api/datasets/non_geo_datasets.csv
Labels: documentation

Update stats for OSCD
  torchgeo/datamodules/oscd.py
Labels: datamodules

Docs: move dataset CSV files to subdir (#2281)
  docs/api/datasets.rst
  docs/api/datasets/geo_datasets.csv
  docs/api/datasets/non_geo_datasets.csv
Labels: documentation

Prettier: ignore cache directories (#2278)
  .prettierignore
Labels: none

Ruff: remove NPY tests
  pyproject.toml
Labels: dependencies

Update stats for OSCD (#2282)
  torchgeo/datamodules/oscd.py
Labels: datamodules

Temp archive into tmp_path
  tests/datasets/test_geo.py
Labels: testing

Make utility funcitons non-public
  torchgeo/datasets/geo.py
  torchgeo/datasets/utils.py
Labels: datasets

Fix typo in comment
  tests/datasets/test_geo.py
Labels: testing

Move VFS tests to TestGeoDataset
  tests/datasets/test_geo.py
Labels: testing

Prevent ambiguity between packages and directories
  pyproject.toml
Labels: dependencies

Ruff: remove NPY tests (#2287)
  pyproject.toml
Labels: dependencies

Ran ruff one time
  tests/datasets/test_landcoverai.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/landcoverai.py
Labels: datamodules, datasets, testing

Tests
  tests/datasets/test_landcoverai.py
Labels: testing

Fixture needs a params kwarg
  tests/datasets/test_landcoverai.py
Labels: testing

Add versionadded to datamodule
  torchgeo/datamodules/landcoverai.py
Labels: datamodules

Add conf file to test new datamodule
  tests/conf/landcoverai100.yaml
Labels: testing

Make dataset work
  tests/datasets/test_landcoverai.py
  torchgeo/datasets/landcoverai.py
Labels: datasets, testing

Test datamodule
  tests/trainers/test_segmentation.py
Labels: testing

Add dataset and datamodule
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/landcoverai.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/landcoverai.py
Labels: datamodules, datasets

Add docs
  docs/api/datamodules.rst
  docs/api/datasets.rst
Labels: documentation

Changing dataset URL
  torchgeo/datasets/landcoverai.py
Labels: datasets

Update main hash
  torchgeo/datasets/landcoverai.py
Labels: datasets

pytest: set default --cov, --cov-report (#2275)
  .github/workflows/tests.yaml
  docs/user/contributing.rst
  pyproject.toml
Labels: dependencies, documentation, testing

Datasets: support os.PathLike (#2273)
  tests/datasets/test_geo.py
  torchgeo/datasets/agb_live_woody_density.py
  torchgeo/datasets/agrifieldnet.py
  torchgeo/datasets/cbf.py
  torchgeo/datasets/cdl.py
  torchgeo/datasets/chesapeake.py
  torchgeo/datasets/cms_mangrove_canopy.py
  torchgeo/datasets/esri2020.py
  torchgeo/datasets/eudem.py
  torchgeo/datasets/eurocrops.py
  torchgeo/datasets/geo.py
  torchgeo/datasets/globbiomass.py
  torchgeo/datasets/l7irish.py
  torchgeo/datasets/l8biome.py
  torchgeo/datasets/landcoverai.py
  torchgeo/datasets/nlcd.py
  torchgeo/datasets/openbuildings.py
  torchgeo/datasets/south_africa_crop_type.py
  torchgeo/datasets/south_america_soybean.py
  torchgeo/datasets/utils.py
Labels: datasets, testing

Docs: installation-agnostic prettier usage (#2279)
  .github/workflows/style.yaml
  docs/user/contributing.rst
Labels: documentation, testing

Dependabot: only update npm lockfile (#2277)
  .github/dependabot.yml
  requirements/package.json
Labels: dependencies

DataModules: use persistent workers for parallel data loading
  torchgeo/datamodules/geo.py
Labels: datamodules

rettier: prefer single quotes
  .gitignore
  package.json
Labels: none

Move lockfile to root directory
  .github/dependabot.yml
  .github/workflows/style.yaml
  package-lock.json
Labels: dependencies, testing
