Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"

Update test data & add data.py
  tests/data/vhr10/NWPU VHR-10 dataset.rar
  tests/data/vhr10/annotations.json
  tests/data/vhr10/data.py
Labels: testing

Add scikit-image dependency
  environment.yml
  requirements/min.old
  requirements/required.old
  requirements/required.txt
  setup.cfg
Labels: none

Move skimage import
  torchgeo/datasets/vhr10.py
Labels: datasets

Comment out check for coverage
  torchgeo/datasets/vhr10.py
Labels: datasets

Move scikit-image dep to extras
  setup.cfg
Labels: none

Update requirements
  environment.yml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  requirements/required.old
  setup.cfg
  tests/datasets/test_vhr10.py
Labels: testing

Test requirements
  requirements/datasets.old
  requirements/min.old
  requirements/required.txt
Labels: none

Update requirements
  setup.cfg
Labels: none

Update
  environment.yml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  setup.cfg
Labels: none

Update
  environment.yml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  setup.cfg
Labels: none

Update
  environment.yml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  setup.cfg
Labels: none

Update
  environment.yml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  setup.cfg
Labels: none

Update
  environment.yml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  setup.cfg
Labels: none

Update min scipy
  requirements/min.old
Labels: none

Update min scipy
  requirements/min.old
Labels: none

Update min scipy
  requirements/min.old
Labels: none

Update min scipy
  requirements/min.old
Labels: none

Update min scipy
  requirements/min.old
Labels: none

Update skimage
  requirements/datasets.txt
Labels: none

Review comments#1
  tests/data/vhr10/NWPU VHR-10 dataset.rar
  tests/data/vhr10/data.py
  tests/datasets/test_vhr10.py
  torchgeo/datasets/vhr10.py
Labels: datasets, testing

Update skimage
  requirements/datasets.txt
Labels: none

Revert rename to nwpu
  tests/datasets/test_vhr10.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/nwpu.py
Labels: datasets, testing

Revert renames
  tests/data/nwpu/NWPU VHR-10 dataset.rar
  tests/data/nwpu/annotations.json
  tests/data/nwpu/data.py
  tests/datasets/test_nwpu.py
Labels: testing

Going back to what worked
  requirements/min.old
Labels: none

Bump numpy minor version
  requirements/min.old
Labels: none

Update min scipy
  requirements/min.old
Labels: none

More fixes
  tests/datasets/test_utils.py
Labels: testing

Fix data dirname
  tests/datasets/test_nwpu.py
Labels: testing

Update scipy
  requirements/min.old
Labels: none

Edit
  pyproject.toml
Labels: none

Edit warning
  pyproject.toml
Labels: none

Ignore another warning
  pyproject.toml
Labels: none

Ignore numpy warning
  pyproject.toml
Labels: none

Insanity
  pyproject.toml
Labels: none

Adding results directory to gitignore
  .gitignore
Labels: none

Adding results directory to gitignore (#1028)
  .gitignore
Labels: none

Adding results directory to gitignore (#1028)
  .gitignore
Labels: none

Fix pooch
  pyproject.toml
  requirements/min.old
Labels: none

Try older skimage
  requirements/datasets.old
  requirements/min.old
  requirements/required.txt
Labels: none

Try older scipy
  requirements/datasets.old
  requirements/min.old
Labels: none
