Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

Change segmentation model argument names (#919)
  conf/chesapeake_cvpr.yaml
  conf/etci2021.yaml
  conf/inria.yaml
  conf/landcoverai.yaml
  conf/naipchesapeake.yaml
  conf/oscd.yaml
  conf/sen12ms.yaml
  evaluate.py
  experiments/run_chesapeake_cvpr_experiments.py
  experiments/run_landcoverai_experiments.py
  experiments/run_landcoverai_seed_experiments.py
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/conf/deepglobelandcover_0.yaml
  tests/conf/deepglobelandcover_5.yaml
  tests/conf/etci2021.yaml
  tests/conf/inria.yaml
  tests/conf/landcoverai.yaml
  tests/conf/naipchesapeake.yaml
  tests/conf/oscd_all.yaml
  tests/conf/oscd_rgb.yaml
  tests/conf/sen12ms_all.yaml
  tests/conf/sen12ms_s1.yaml
  tests/conf/sen12ms_s2_all.yaml
  tests/conf/sen12ms_s2_reduced.yaml
  tests/trainers/test_segmentation.py
  torchgeo/trainers/segmentation.py
Labels: trainers, scripts, testing

suggested changes
  conf/byol.yaml
  conf/chesapeake_cvpr.yaml
  tests/conf/byol.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/trainers/test_utils.py
  torchgeo/trainers/utils.py
Labels: trainers, testing

Change BYOL task argument name and switch to timm models (#918)
  conf/byol.yaml
  conf/chesapeake_cvpr.yaml
  tests/conf/byol.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/trainers/conftest.py
  tests/trainers/test_byol.py
  tests/trainers/test_utils.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/utils.py
Labels: trainers, testing

Change BYOL task argument name and switch to timm models (#918)
  conf/byol.yaml
  conf/chesapeake_cvpr.yaml
  tests/conf/byol.yaml
  tests/conf/chesapeake_cvpr_5.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/trainers/conftest.py
  tests/trainers/test_byol.py
  tests/trainers/test_utils.py
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/regression.py
  torchgeo/trainers/utils.py
Labels: trainers, testing

Bump torchvision too
  requirements/required.txt
Labels: none

Test minimum pyvista version
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  tests/datasets/test_idtrees.py
  torchgeo/datasets/idtrees.py
Labels: datasets, testing

mypy fix
  tests/datasets/test_idtrees.py
Labels: testing

More dep file updates
  environment.yml
  requirements/datasets.old
  requirements/min.old
  setup.cfg
Labels: none

Document change
  torchgeo/datasets/idtrees.py
Labels: datasets

Replace open3d with pyvista (#663)
  .github/workflows/tests.yaml
  docs/conf.py
  environment.yml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  setup.cfg
  tests/datasets/test_idtrees.py
  torchgeo/datasets/idtrees.py
Labels: datasets, documentation, testing

Replace open3d with pyvista (#663)
  .github/workflows/tests.yaml
  docs/conf.py
  environment.yml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  setup.cfg
  tests/datasets/test_idtrees.py
  torchgeo/datasets/idtrees.py
Labels: datasets, documentation, testing

Fix landcoverai datamodule
  conf/landcoverai.yaml
  torchgeo/datamodules/landcoverai.py
Labels: datamodules

Fix landcoverai datamodule (#959)
  conf/landcoverai.yaml
  torchgeo/datamodules/landcoverai.py
Labels: datamodules

Fix landcoverai datamodule (#959)
  conf/landcoverai.yaml
  torchgeo/datamodules/landcoverai.py
Labels: datamodules

Added EarthSurfaceWater tutorial
  docs/tutorials/earthsurfacewater_tutorial.ipynb
Labels: documentation

Datasets: consistent capitalization of band names (#778)
  tests/datasets/test_benin_cashews.py
  tests/datasets/test_seco.py
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/cloud_cover.py
  torchgeo/datasets/cv4a_kenya_crop_type.py
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/seco.py
  torchgeo/datasets/sen12ms.py
  torchgeo/datasets/sentinel.py
  torchgeo/datasets/so2sat.py
  torchgeo/datasets/zuericrop.py
Labels: datasets, testing

Datasets: consistent capitalization of band names (#778)
  tests/datasets/test_benin_cashews.py
  tests/datasets/test_seco.py
  torchgeo/datasets/benin_cashews.py
  torchgeo/datasets/cloud_cover.py
  torchgeo/datasets/cv4a_kenya_crop_type.py
  torchgeo/datasets/eurosat.py
  torchgeo/datasets/seco.py
  torchgeo/datasets/sen12ms.py
  torchgeo/datasets/sentinel.py
  torchgeo/datasets/so2sat.py
  torchgeo/datasets/zuericrop.py
Labels: datasets, testing

Documentation clarifications
  torchgeo/datasets/sentinel.py
Labels: datasets

Relax constraints on bands
  tests/datasets/test_sentinel.py
  torchgeo/datasets/sentinel.py
Labels: datasets, testing

One more combo
  tests/datasets/test_sentinel.py
Labels: testing

Fix syntax
  torchgeo/datasets/sentinel.py
Labels: datasets

Fix syntax
  tests/datasets/test_sentinel.py
Labels: testing

Fix flip
  torchgeo/datasets/sentinel.py
Labels: datasets

Fix test name
  tests/datasets/test_sentinel.py
Labels: testing

pyupgrade
  torchgeo/datasets/sentinel.py
Labels: datasets

update trainer.test call args
  train.py
Labels: scripts

update trainer.test call args (#963)
  train.py
Labels: scripts

update trainer.test call args (#963)
  train.py
Labels: scripts

Remove unused param from FAIR1 datamodule
  tests/datamodules/test_fair1m.py
Labels: testing

Remove unused param from FAIR1 datamodule (#964)
  tests/datamodules/test_fair1m.py
Labels: testing

Remove unused param from FAIR1 datamodule (#964)
  tests/datamodules/test_fair1m.py
Labels: testing

remove extent_crop
  torchgeo/datasets/geo.py
  torchgeo/datasets/utils.py
Labels: datasets

move existing functions to new file
  torchgeo/datasets/splits.py
  torchgeo/datasets/utils.py
Labels: datasets

refactor random_nongeo_split
  torchgeo/datasets/splits.py
Labels: datasets

refactor random_bbox_splitting
  torchgeo/datasets/splits.py
Labels: datasets

add roi_split
  torchgeo/datasets/splits.py
Labels: datasets

add random_bbox_assignment
  torchgeo/datasets/splits.py
Labels: datasets

Add SpaceNet1 datamodule
  conf/spacenet1.yaml
  docs/api/datamodules.rst
  tests/data/spacenet/data.py
  tests/data/spacenet/sn1_AOI_1_RIO.tar.gz
  tests/datamodules/test_spacenet.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/spacenet.py
  train.py
Labels: datamodules, documentation, scripts, testing

Running black and isort
  torchgeo/datamodules/spacenet.py
  train.py
Labels: datamodules, scripts

version added
  torchgeo/datamodules/spacenet.py
Labels: datamodules

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"
