Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, dependencies, documentation, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
dependencies:
- "environment.yml"
- "setup.cfg"
- "requirements/**"
documentation:
- "docs/**"
scripts:
- "*.py"
- "experiments/**"
testing:
- "tests/**"
- ".github/workflows/**"

RasterDataset: remove unnecessary glob (#1219)
  torchgeo/datasets/geo.py
Labels: datasets

RasterDataset: remove unnecessary glob (#1219)
  torchgeo/datasets/geo.py
Labels: datasets

Update torchgeo/losses/ssl.py
  torchgeo/losses/ssl.py
Labels: losses

Update torchgeo/losses/ssl.py
  torchgeo/losses/ssl.py
Labels: losses

Deps: make omegaconf/tensorboard optional
  environment.yml
  requirements/min-reqs.old
  requirements/required.txt
  requirements/tests.txt
  setup.cfg
Labels: dependencies

Bump minimum tensorboard
  environment.yml
  requirements/min-reqs.old
  setup.cfg
Labels: dependencies

Fix typo
  .github/workflows/release.yaml
Labels: testing

Remove explicit tensorboard install from GitHub Actions
  .github/workflows/release.yaml
  .github/workflows/tutorials.yaml
Labels: testing

Improved _getitem and plot functions
  torchgeo/datasets/l7irish.py
Labels: datasets

included versionadded: 0.5 and parameter to docstring
  torchgeo/trainers/segmentation.py
Labels: trainers

Update torchgeo/datasets/l8biome.py
  torchgeo/datasets/l8biome.py
Labels: datasets

Deps: make omegaconf/tensorboard optional (#1214)
  .github/workflows/release.yaml
  .github/workflows/tutorials.yaml
  environment.yml
  requirements/min-reqs.old
  requirements/required.txt
  requirements/tests.txt
  setup.cfg
Labels: dependencies, testing

Deps: make omegaconf/tensorboard optional (#1214)
  .github/workflows/release.yaml
  .github/workflows/tutorials.yaml
  environment.yml
  requirements/min-reqs.old
  requirements/required.txt
  requirements/tests.txt
  setup.cfg
Labels: dependencies, testing

Store data in JSON
  experiments/landsat_non_thermal.json
  experiments/landsat_thermal.json
  experiments/plot_landsat_bands.py
Labels: scripts

Update l8biome.py
  torchgeo/datasets/l8biome.py
Labels: datasets

Update torchgeo/datasets/l8biome.py: Changing RGB bands order
  torchgeo/datasets/l8biome.py
Labels: datasets

Change B2 band to B1
  torchgeo/datasets/l8biome.py
Labels: datasets

further simplify sampling script with pandas
  experiments/sample_ssl4eo.py
Labels: scripts

added newline between sections, removed manual type checking, moved class_weights parameter after loss parameter
  torchgeo/trainers/segmentation.py
Labels: trainers

remove comments in l7irish.py
  torchgeo/datasets/l7irish.py
Labels: datasets
