Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"

Add files via upload
  docs/tutorials/custom_raster_dataset.ipynb
Labels: documentation

Use correct documentation link for intersphinx
  docs/conf.py
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models, documentation

Typos
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models

Fix Windows tests
  tests/models/test_resnet.py
  tests/models/test_vit.py
Labels: testing

meth -> func
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models

Explicit function scope
  docs/conf.py
  tests/models/test_resnet.py
  tests/models/test_vit.py
Labels: documentation, testing

weight-specific filename
  tests/models/test_resnet.py
  tests/models/test_vit.py
Labels: testing

Support enums in classification trainer
  torchgeo/trainers/classification.py
Labels: trainers

Update other trainers too
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/regression.py
Labels: trainers

Fix regression tests
  conf/cowc_counting.yaml
  conf/cyclone.yaml
  tests/conf/cowc_counting.yaml
  tests/conf/cyclone.yaml
  tests/trainers/test_regression.py
  torchgeo/trainers/regression.py
Labels: trainers, testing

Fix classification tests
  conf/bigearthnet.yaml
  conf/eurosat.yaml
  conf/nasa_marine_debris.yaml
  conf/resisc45.yaml
  conf/so2sat.yaml
  tests/conf/bigearthnet_all.yaml
  tests/conf/bigearthnet_s1.yaml
  tests/conf/bigearthnet_s2.yaml
  tests/conf/eurosat.yaml
  tests/conf/resisc45.yaml
  tests/conf/so2sat_supervised.yaml
  tests/conf/so2sat_unsupervised.yaml
  tests/conf/ucmerced.yaml
  tests/trainers/test_classification.py
  torchgeo/trainers/classification.py
Labels: trainers, testing

Fix byol tests
  tests/conf/byol.yaml
  tests/conf/chesapeake_cvpr_7.yaml
  tests/conf/chesapeake_cvpr_prior.yaml
  tests/trainers/test_byol.py
  torchgeo/trainers/byol.py
Labels: trainers, testing

Fix types
  tests/models/test_resnet.py
  tests/models/test_vit.py
Labels: testing

progress_bar is required arg
  torchgeo/trainers/byol.py
  torchgeo/trainers/classification.py
  torchgeo/trainers/regression.py
Labels: trainers

Test weight enums
  tests/trainers/test_regression.py
Labels: testing

Fix pickling
  torchgeo/models/resnet.py
  torchgeo/models/vit.py
Labels: models

Fix regression tests
  tests/trainers/test_regression.py
Labels: testing

Improve coverage of classification tests
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
Labels: testing

Improve coverage of BYOL tests
  tests/trainers/test_byol.py
Labels: testing

Update resnet table
  docs/api/resnet_pretrained_weights.csv
Labels: documentation

Update ViT table
  docs/api/vit_pretrained_weights.csv
Labels: documentation

Update get_state_dict usage
  docs/tutorials/pretrained_weights.ipynb
Labels: documentation

Remove unused YAML files
  tests/conf/resnet18_weight.yaml
  tests/conf/resnet50_weight.yaml
  tests/conf/vit_small_patch16_224_weight.yaml
Labels: testing

Update table widths
  docs/api/models.rst
Labels: documentation

Documentation improvements
  docs/api/models.rst
  torchgeo/models/api.py
Labels: models, documentation

Tweak tables
  docs/api/models.rst
  docs/api/resnet_pretrained_weights.csv
  docs/api/vit_pretrained_weights.csv
Labels: documentation

Try to fix Windows tests
  tests/models/test_resnet.py
  tests/models/test_vit.py
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
Labels: testing

Revert "Try to fix Windows tests"
  tests/models/test_resnet.py
  tests/models/test_vit.py
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
Labels: testing

Monkeypatch everything
  tests/models/test_resnet.py
  tests/models/test_vit.py
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
Labels: testing

Revert "Monkeypatch everything"
  tests/models/test_resnet.py
  tests/models/test_vit.py
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
Labels: testing

Revert "Revert "Monkeypatch everything""
  tests/models/test_resnet.py
  tests/models/test_vit.py
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
Labels: testing

Patch things not at the source
  tests/models/test_resnet.py
  tests/models/test_vit.py
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
Labels: testing

Fix missing import
  tests/models/test_resnet.py
  tests/models/test_vit.py
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
Labels: testing

Update sentinel.py
  torchgeo/datasets/sentinel.py
Labels: datasets

Delete custom_raster_dataset.ipynb
  docs/tutorials/custom_raster_dataset.ipynb
Labels: documentation

Add files via upload
  docs/tutorials/custom_raster_dataset.ipynb
Labels: documentation

Update sentinel.py
  torchgeo/datasets/sentinel.py
Labels: datasets

Delete custom_raster_dataset.ipynb
  docs/tutorials/custom_raster_dataset.ipynb
Labels: documentation

Add files via upload
  docs/tutorials/custom_raster_dataset.ipynb
Labels: documentation

Add plot fn & rename nwpu -> vhr10
  tests/datasets/test_vhr10.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/nwpu.py
  torchgeo/datasets/vhr10.py
Labels: datasets, testing
