Repository microsoft/torchgeo, changes with the labels that .github/labeler.yml gives for each.
All labels: datamodules, datasets, losses, models, samplers, trainers, transforms, documentation, scripts, testing

.github/labeler.yml:

# TorchGeo modules
datamodules:
- "torchgeo/datamodules/**"
datasets:
- "torchgeo/datasets/**"
losses:
- "torchgeo/losses/**"
models:
- "torchgeo/models/**"
samplers:
- "torchgeo/samplers/**"
trainers:
- "torchgeo/trainers/**"
transforms:
- "torchgeo/transforms/**"

# Other
documentation:
- "docs/**"
scripts:
- "*.py"
testing:
- "tests/**"
- ".github/workflows/**"

Revert "Add lightning-lite dependency"
  environment.yml
  requirements/min.old
  requirements/required.old
  requirements/required.txt
  setup.cfg
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/geo.py
Labels: datamodules, testing

Define our own MisconfigurationException
  docs/api/datamodules.rst
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
  torchgeo/datamodules/__init__.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/utils.py
Labels: datamodules, documentation, testing

Fix mistake in setup call
  tests/datamodules/test_geo.py
Labels: testing

Properly test new data module base classes
  tests/datamodules/test_geo.py
  torchgeo/datamodules/geo.py
Labels: datamodules, testing

ExtractTensorPatches runs into OOM errors
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/gid15.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/transforms/transforms.py
Labels: datamodules, transforms

Test both fast_dev_run True and False
  tests/trainers/conftest.py
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_detection.py
  tests/trainers/test_regression.py
  tests/trainers/test_segmentation.py
Labels: testing

Fix plot methods
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/fair1m.py
  torchgeo/datamodules/geo.py
  torchgeo/datamodules/gid15.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/naip.py
  torchgeo/datamodules/nasa_marine_debris.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/sen12ms.py
  torchgeo/datamodules/spacenet.py
  torchgeo/datamodules/vaihingen.py
  torchgeo/datamodules/xview.py
  torchgeo/datasets/cyclone.py
  torchgeo/datasets/sen12ms.py
Labels: datamodules, datasets

Fix issues with images of different sizes
  conf/deepglobelandcover.yaml
  conf/gid15.yaml
  conf/inria.yaml
  conf/oscd.yaml
  conf/potsdam2d.yaml
  conf/vaihingen2d.yaml
  tests/conf/deepglobelandcover.yaml
  tests/conf/gid15.yaml
  tests/conf/inria.yaml
  tests/conf/potsdam2d.yaml
  tests/conf/vaihingen2d.yaml
  torchgeo/datamodules/deepglobelandcover.py
  torchgeo/datamodules/gid15.py
  torchgeo/datamodules/inria.py
  torchgeo/datamodules/oscd.py
  torchgeo/datamodules/potsdam.py
  torchgeo/datamodules/vaihingen.py
Labels: datamodules, testing

Fix OSCD tests
  tests/datamodules/test_oscd.py
Labels: testing

Fix OSCD tests
  tests/datamodules/test_oscd.py
Labels: testing

Fix OSCD tests
  tests/datamodules/test_oscd.py
Labels: testing

Fix bug with inconsistent train/val/test splits between stages
  torchgeo/datamodules/cowc.py
  torchgeo/datamodules/cyclone.py
  torchgeo/datamodules/sen12ms.py
  torchgeo/datamodules/utils.py
Labels: datamodules

Bad rebase
  tests/trainers/test_byol.py
  tests/trainers/test_classification.py
  tests/trainers/test_regression.py
Labels: testing

No trainer for OSCD so no need for config
  conf/oscd.yaml
Labels: none

Bad rebase
  tests/trainers/test_classification.py
Labels: testing

scipy 1.6.2
  requirements/min.old
Labels: none

Update warning
  torchgeo/trainers/utils.py
Labels: trainers

Typo fix in pretrained weights tutorial
  docs/tutorials/pretrained_weights.ipynb
Labels: documentation

Error checking
  torchgeo/trainers/utils.py
Labels: trainers

Update docs/tutorials/pretrained_weights.ipynb
  docs/tutorials/pretrained_weights.ipynb
Labels: documentation

Fix error
  docs/tutorials/pretrained_weights.ipynb
Labels: documentation

Less warning
  torchgeo/trainers/utils.py
Labels: trainers

Add Sentinel-1 dataset (#821)
  docs/api/datasets.rst
  tests/data/sentinel1/S1A_IW_20221204T161641_DVR_RTC30_G_gpuned_1AE1/S1A_IW_20221204T161641_DVR_RTC30_G_gpuned_1AE1_VH.tif
  tests/data/sentinel1/S1A_IW_20221204T161641_DVR_RTC30_G_gpuned_1AE1/S1A_IW_20221204T161641_DVR_RTC30_G_gpuned_1AE1_VV.tif
  tests/data/sentinel1/S1B_IW_20161021T042948_DHP_RTC30_G_gpuned_A784/S1B_IW_20161021T042948_DHP_RTC30_G_gpuned_A784_HH.tif
  tests/data/sentinel1/S1B_IW_20161021T042948_DHP_RTC30_G_gpuned_A784/S1B_IW_20161021T042948_DHP_RTC30_G_gpuned_A784_HV.tif
  tests/data/sentinel1/data.py
  tests/datasets/test_sentinel.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/sentinel.py
Labels: datasets, documentation, testing

Add Sentinel-1 dataset (#821)
  docs/api/datasets.rst
  tests/data/sentinel1/S1A_IW_20221204T161641_DVR_RTC30_G_gpuned_1AE1/S1A_IW_20221204T161641_DVR_RTC30_G_gpuned_1AE1_VH.tif
  tests/data/sentinel1/S1A_IW_20221204T161641_DVR_RTC30_G_gpuned_1AE1/S1A_IW_20221204T161641_DVR_RTC30_G_gpuned_1AE1_VV.tif
  tests/data/sentinel1/S1B_IW_20161021T042948_DHP_RTC30_G_gpuned_A784/S1B_IW_20161021T042948_DHP_RTC30_G_gpuned_A784_HH.tif
  tests/data/sentinel1/S1B_IW_20161021T042948_DHP_RTC30_G_gpuned_A784/S1B_IW_20161021T042948_DHP_RTC30_G_gpuned_A784_HV.tif
  tests/data/sentinel1/data.py
  tests/datasets/test_sentinel.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/sentinel.py
Labels: datasets, documentation, testing

scipy 1.6.2 is new min
  environment.yml
  setup.cfg
  tests/datasets/test_advance.py
Labels: testing

Minor fixes.
  tests/trainers/test_detection.py
  torchgeo/datasets/idtrees.py
Labels: datasets, testing

Typo fix in pretrained weights tutorial (#1029)
  docs/tutorials/pretrained_weights.ipynb
  torchgeo/trainers/utils.py
Labels: trainers, documentation

Typo fix in pretrained weights tutorial (#1029)
  docs/tutorials/pretrained_weights.ipynb
  torchgeo/trainers/utils.py
Labels: trainers, documentation

Added detection tests.
  tests/trainers/test_detection.py
Labels: testing

Added FCOS and RetinaNet to detection trainer.
  .gitignore
  torchgeo/trainers/detection.py
Labels: trainers

Removed requested lines.
  .gitignore
  torchgeo/trainers/detection.py
Labels: trainers

Add plot method for VHR10 dataset (#847)
  environment.yml
  pyproject.toml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  setup.cfg
  tests/data/nwpu/NWPU VHR-10 dataset.rar
  tests/data/nwpu/annotations.json
  tests/data/nwpu/data.py
  tests/data/vhr10/NWPU VHR-10 dataset.rar
  tests/data/vhr10/annotations.json
  tests/datasets/test_advance.py
  tests/datasets/test_nwpu.py
  tests/datasets/test_utils.py
  torchgeo/datasets/nwpu.py
Labels: datasets, testing

Add plot method for VHR10 dataset (#847)
  environment.yml
  pyproject.toml
  requirements/datasets.old
  requirements/datasets.txt
  requirements/min.old
  setup.cfg
  tests/data/nwpu/NWPU VHR-10 dataset.rar
  tests/data/nwpu/annotations.json
  tests/data/nwpu/data.py
  tests/data/vhr10/NWPU VHR-10 dataset.rar
  tests/data/vhr10/annotations.json
  tests/datasets/test_advance.py
  tests/datasets/test_nwpu.py
  tests/datasets/test_utils.py
  torchgeo/datasets/nwpu.py
Labels: datasets, testing

Test fixes.
  tests/trainers/test_detection.py
  torchgeo/datasets/idtrees.py
  torchgeo/trainers/detection.py
Labels: datasets, trainers, testing

Minor fixes.
  tests/trainers/test_detection.py
  torchgeo/datasets/idtrees.py
Labels: datasets, testing

File rename: nwpu.py -> vhr10.py
  tests/data/vhr10/NWPU VHR-10 dataset.rar
  tests/data/vhr10/annotations.json
  tests/data/vhr10/data.py
  tests/datasets/test_vhr10.py
  torchgeo/datasets/__init__.py
  torchgeo/datasets/vhr10.py
Labels: datasets, testing

Added missing import.
  torchgeo/trainers/detection.py
Labels: trainers

Update more locations
  tests/datasets/test_utils.py
Labels: testing

Fix ViT weight names in docs
  docs/api/vit_pretrained_weights.csv
Labels: documentation

Update torchgeo/datasets/sentinel.py
  torchgeo/datasets/sentinel.py
Labels: datasets
